<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="user=${#authentication.principal}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>나가자 관리자</title>
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <link rel="stylesheet" href="../assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="../asssets/images/favicon.ico"/>
    <style type="text/css">
        .current {
            border: 1px solid;
            background: #696ffb;
            color: #FFFFFF;
            margin-right: 3px;
            border-radius: 4px;
            width: 3%;
        }
        .paging {
            border: 1px solid #f2f4f9;
            background: #FFFFFF;
            margin-right: 3px;
            border-radius: 4px;
            width: 3%;
        }
    </style>
</head>
<body class="header-fixed">
<!-- partial:partials/_header.html -->
<th:block th:include="/../hf/header.html"></th:block>
<!-- partial -->
<div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <th:block th:include="/../hf/sidebar.html"></th:block>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div id="content-viewport">
                <!-- Begin Page Content -->
                <div class="row">
                    <div class="col-12" style="margin-bottom: 15px; display: flex; justify-content: space-between;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grid">
                            <p class="grid-header">
                                <th:block th:if="${announcements.boardCategoryId == 71}">
                                    <span th:if="${announcements.noticeCount == 0}"><input type="button" class="upgrade-btn btn btn-dark" th:onclick="changeBtn(1)" value="자유게시판 상단에 고정"></span>
                                    <span th:unless="${announcements.noticeCount == 0}"><input type="button" class="upgrade-btn btn btn-danger" th:onclick="changeBtn(0)" value="자유게시판 상단 해제"></span>
                                </th:block>
                                <span style="float: right;"><a href="/announcements/announcementsList">목록</a></span>
                            </p>
                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <div class="table-responsive">
                                        <form id="feed_form" method="PUT" enctype="multipart/form-data">
                                            <table class="table table-bordered" style="width: 100%; cellspacing: '0'; margin: auto;">
                                                <tbody>
                                                <input type="hidden" id="boardId" name="boardId" th:value="${param.boardId}">
                                                <tr>
                                                    <th>
                                                        카테고리
                                                    </th>
                                                    <td colspan="3">
                                                        <select class="form-control" name="boardCategoryId" style="width: 150px;">
                                                            <th:block th:each="board : ${child}">
                                                                <option th:value="${board.boardCategoryId}" th:text="${board.boardCategoryTitle}" th:selected="${board.boardCategoryId == announcements.boardCategoryId}"></option>
                                                            </th:block>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        제목
                                                    </th>
                                                    <td colspan="3">
                                                        <input class="form-control" name="boardTitle" th:value="${announcements.boardTitle}">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>
                                                        노출 상태
                                                    </th>
                                                    <td colspan="3">
                                                        <input style="margin-left: 100px" type="radio" name="boardStatus" id="boardStatus1" class="roundup_type" th:checked="${announcements.boardStatus == 1}" value=1 required="required">
                                                        <label for="boardStatus1">공개</label>
                                                        <input style="margin-left: 100px" type="radio" name="boardStatus" id="boardStatus2" class="roundup_type" th:checked="${announcements.boardStatus == 0}" value="0" required="required">
                                                        <label for="boardStatus2">비공개</label>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>
                                                        등록일자
                                                    </th>
                                                    <td>
                                                        <span th:text="${announcements.boardCreateDate}"></span>
                                                    </td>
                                                    <th>
                                                        조회수
                                                    </th>
                                                    <td>
                                                        <span th:text="${announcements.boardViewCount}"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        추가 이미지
                                                    </th>
                                                    <td colspan="3">
                                                        <input type="file" name="files" id="uploadFile" multiple>
                                                        <div id="preview"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        이미지
                                                    </th>
                                                    <td colspan="3">
                                                        <div id="delImgPK"></div>
                                                        <th:block th:each="image : ${announcements.images}">
                                                        <span th:id="|id_${image.boardImageId}|" class="existing">
                                                            <span style="position:relative;">
                                                                <span style="position: absolute;">
                                                                  <button class="current btn btn-danger" type="button" th:onclick="|delBtnFile(${image.boardImageId})|" >x</button>
                                                                </span>
                                                            </span>
                                                        <img th:src="| https://pref-bucket.s3.ap-northeast-2.amazonaws.com/images/${image.boardImageName}|" style="width:100px; height:100px; border : solid 1px #fff">
                                                        </span>
                                                        </th:block>
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <th>
                                                        내용
                                                    </th>
                                                    <td colspan="3">
                                                        <textarea class="form-control" id="ckeditor" name="boardContent"  th:utext="${announcements.boardContent}"></textarea>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                        <div style="text-align: center; padding-top: 20px">
                                            <span><input type="button" class="upgrade-btn btn btn-primary" onclick="updBtn()" value="등록"></span>
                                            <span><input type="button" class="upgrade-btn btn btn-danger" onclick="delBtn()" value="삭제"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/vendors/js/core.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/assets/js/charts/chartjs.addon.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://cdn.ckeditor.com/4.8.0/full/ckeditor.js"></script>
<script>

    CKEDITOR.plugins.addExternal('youtube', '/youtube/plugin.js');
    CKEDITOR.plugins.addExternal('video', '/video/plugin.js');

    CKEDITOR.replace('ckeditor',
        {
            // extraPlugins : 'youtube',
            uploadUrl: "/editor/drag?path=nagaja/announcements",						// 드래그 드롭을 위한 URL
            filebrowserUploadUrl: "/editor/basic?path=nagaja/announcements"			// 파일업로드를 위한 URL
        });

    function updBtn() {
        if (confirm('등록 하겠습니까?')) {
            $('textarea[name=boardContent]').val(CKEDITOR.instances['ckeditor'].getData());
            let updData = new FormData($('#feed_form')[0]);


            $.ajax({
                url: '/announcements/updateAnnouncements',
                method: 'PUT',
                data: updData,
                dataType: 'JSON',
                enctype: 'multipart/form-data',
                cache: false,
                processData: false,
                contentType: false,
                success: function (result) {
                    switch (result) {

                        case 0:
                            alert("등록 실패 관리자에게 문의해주십시오.");
                            break;
                        case 1:
                            alert('등록 되었습니다.');
                            location.reload();
                            break;
                        case 2:
                            alert('제목 또는 내용을 입력 하십시오.');
                            break;
                    }
                }
            })
        }
    }

    function delBtn() {
        if (confirm('삭제 하겠습니까?')) {
            var data = {'boardId' : $("#boardId").val()}

            $.ajax({
                url: '/announcements/deleteAnnouncements',
                method: 'DELETE',
                data: data,
                dataType: 'JSON',
                success: function (result) {
                    switch (result) {

                        case 0:
                            alert("삭제 실패 관리자에게 문의해주십시오.");
                            break;
                        case 1:
                            alert('삭제 되었습니다.');
                            location.href="/announcements/announcementsList";
                            break;
                        case 2:
                            alert('상단고정 공지사항입니다.해제후 삭제하십시오.');
                            break;
                    }
                }
            })
        }
    }

    function delBtnFile(e) {
        $("#id_" + e).remove()
        let item_list = $("#delImgPK")
        let item_add = '<input type="hidden" name="boardImageId" value="'+(e)+'">'
        item_list.append(item_add);

    }

    $(document).ready(function (e){
        $("input[type='file']").change(function(e){

            //div 내용 비워주기
            $('#preview').empty();

            var files = e.target.files;
            var arr =Array.prototype.slice.call(files);
            var datas = document.getElementsByClassName('existing').length;
            console.log(datas, arr);
            if (arr.length + datas >= 11)
            {
                alert('최대 이미지 등록 갯수는 10개 이하입니다.')
                document.getElementById("uploadFile").value = null;
                return false;
            }

            //업로드 가능 파일인지 체크
            for(var i=0;i<files.length;i++){
                if(!checkExtension(files[i].name,files[i].size)){
                    return false;
                }
            }

            preview(arr);


        });//file change


        function checkExtension(fileName,fileSize){

            var regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
            var maxSize = 20971520;  //20MB

            if(fileSize >= maxSize){
                alert('파일 사이즈 초과');
                $("input[type='file']").val("");  //파일 초기화
                return false;
            }

            if(regex.test(fileName)){
                alert('업로드 불가능한 파일이 있습니다.');
                $("input[type='file']").val("");  //파일 초기화
                return false;
            }
            return true;
        }

        function preview(arr){
            var br = 0;
            console.log(arr.length)

            arr.forEach(function(f){
                //파일명이 길면 파일명...으로 처리
                var fileName = f.name;
                if(fileName.length > 10){
                    fileName = fileName.substring(0,7)+"...";
                }

                //div에 이미지 추가
                var str = '<div style="display: inline-flex; padding: 10px;"><li>';
                str += '<span>'+fileName+'</span><br>';

                //이미지 파일 미리보기
                if(f.type.match('image.*')){
                    var reader = new FileReader(); //파일을 읽기 위한 FileReader객체 생성
                    reader.onload = function (e) { //파일 읽어들이기를 성공했을때 호출되는 이벤트 핸들러
                        //str += '<button type="button" class="delBtn" value="'+f.name+'" style="background: red">x</button><br>';
                        str += '<img src="'+e.target.result+'" title="'+f.name+'" width=100 height=100 />';
                        br++
                        str += '</li></div>';
                        if (br % 5 == 0)
                        {
                            str += '<br>'
                        }
                        $(str).appendTo('#preview');

                    }
                    reader.readAsDataURL(f);
                }else{
                    str += '<img src="/resources/img/fileImg.png" title="'+f.name+'" width=100 height=100 />';
                    $(str).appendTo('#preview');
                }
            });//arr.forEach
        }
    });

    function changeBtn(e)
    {
        var msg = '';
        if (e == 0)
        {
            msg = '상단 해제 하시겠습니까?';
        }
        else
        {
            msg = '상단 고정 하시겠습니까?';
            e = $("#boardId").val();
        }

        confirm(msg)
        {
            $.ajax({
                url: '/announcements/changeAnnouncements',
                method: 'PUT',
                data: {'boardId' : e},
                dataType: 'JSON',
                success: function (result) {
                    switch (result) {
                        case 0:
                            alert("변경 실패 관리자에게 문의해주십시오.");
                            break;
                        case 1:
                            if (e != 0)
                            {
                                alert('자유게시판 상단에 고정 되었습니다.')
                                location.href="/announcements/detailAnnouncements?boardId="+$("#boardId").val();
                                break;
                            }
                            else
                            {
                                alert('자유게시판 상단에서 해제 되었습니다.')
                                location.href="/announcements/detailAnnouncements?boardId="+$("#boardId").val();
                                break;
                            }

                    }
                }
            })
        }
    }
</script>
</script>
</body>
</html>