<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="user=${#authentication.principal}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>나가자 관리자</title>
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <link rel="stylesheet" href="../assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="../asssets/images/favicon.ico"/>
    <style type="text/css">
        .current {
            border: 1px solid;
            background: #696ffb;
            color: #FFFFFF;
            margin-right: 3px;
            border-radius: 4px;
            width: 3%;
        }
        .paging {
            border: 1px solid #f2f4f9;
            background: #FFFFFF;
            margin-right: 3px;
            border-radius: 4px;
            width: 3%;
        }
    </style>
</head>
<body class="header-fixed">
<th:block th:include="/../hf/header.html"></th:block>
<div class="page-body">
    <th:block th:include="/../hf/sidebar.html"></th:block>
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div id="content-viewport">
                <div class="row">
                    <div class="col-12" style="margin-bottom: 15px; display: flex; justify-content: space-between;">
                        <h4>키워드 관리</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grid">
                            <p class="grid-header">
                                키워드 검색
                            </p>
                            <div class="card-body">
                                <div class="grid-body">
                                    <div class="item-wrapper">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" style="width: 100%; cellspacing: '0'; margin: auto;">
                                                <tbody>

                                                <tr>
                                                    <td>
                                                        키워드
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="keyword" style="width: 500px;">
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                            <div class="mx-auto" style="text-align: center; margin-top: 10px;">
                                                <button type="button" class="search_btn btn btn-primary" onclick="SearchBtn(1);">검색 </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="grid" id="grid-width">
                                <p class="grid-header">
                                    키워드 목록
                                </p>
                                <div class="grid-body">
                                    <div class="item-wrapper">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" style="width: 100%; cellspacing: '0'; margin: auto;">
                                                <div style="float: right; margin: 5px 10px 0 0;">
                                                    <input id="insKeyword" class="form-control" style="width: 200px; padding-left: 10px;">
                                                    <button type="button" class="search_btn btn btn-primary" onclick="insBtn()" style="color: #FFFFFF;">키워드 등록</button>
                                                </div>
                                                <br>
                                                <tbody id="item_list" style="text-align:center; margin: 2% 0 0 0;">
                                                    <br>
                                                    <br>
                                                </tbody>
                                            </table>
                                            <div id="page_list" style="text-align:center; margin: 2% 0 0 0;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="/../hf/footer.html"></th:block>
<script src="/assets/vendors/js/core.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/assets/js/charts/chartjs.addon.js"></script>
<script src="/assets/js/template.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    $(document).ready(function () {
        SearchBtn(1);
    });

    function SearchBtn(e) {
        var data = {'keyword': $("#keyword").val(), 'page_num': e};
        console.log(data);
        $.ajax(
            {
                url: '/keyword/selectNewKeyword',
                type: 'POST',
                dataType : 'json',
                data : data,
                success: function (result) {
                    console.log(result);
                    var item_list = $("#item_list");
                    var item_add = "";
                    var page_list = $("#page_list");
                    var page_add = "";
                    // list start
                    if (result.keyword.length == 0) {
                    } else {
                        console.log(result.keyword.length)
                        for (var i = 0; i < result.keyword.length; i++) {

                            item_add += '<span style=" border: solid 3px #fff0ff; padding: 5px 15px 5px 15px; background: skyblue; border-radius: 50px;cursor: pointer;" onclick="delBtn('+(result.keyword[i].keyword_id)+')">' + result.keyword[i].keyword  + '</span>'

                            if ((i +1) % 10 == 0)
                            {
                                item_add += '<br><br>';
                            }
                        }
                    }
                    // list end
                    // paging start
                    if (result.page.page_num > 10) {
                        page_add += '<button class="paging" onclick="SearchBtn(' + (result.page.start_page - 10) + ')"><</button>';
                    }
                    for (var i = result.page.start_page; i < (result.page.end_page + 1); i++) {
                        if (result.page.page_num == i) {
                            page_add += '<button class="current" onclick="SearchBtn(' + i + ')">' + i + '</button>';
                        } else if (i <= result.page.max_page) {
                            page_add += '<button class="paging" onclick="SearchBtn(' + i + ')">' + i + '</button>';
                        }
                    }
                    if (result.page.start_page + 10 < (result.page.max_page)) {
                        page_add += '<button class="paging" onclick="SearchBtn(' + (result.page.start_page + 10) + ')">></button>';
                    }
                    // paging end
                    item_list.empty();
                    item_list.append(item_add);
                    page_list.empty();
                    page_list.append(page_add);
                },
                error(e) {
                    console.log(e);
                }
            })
    }

    function insBtn(){
        if(confirm('등록하시겠습니까?'))
        {
            $.ajax
            (
                {
                    url : '/keyword/insertKeyword',
                    method : 'POST',
                    type : 'JSON',
                    data : {'keyword' : $("#insKeyword").val()},
                    success : function (result)
                    {
                        if (result == 0)
                        {
                            alert('등록 실패 관리자에게 문의 해주세요.')
                        }
                        else
                        {
                            alert('등록되었습니다.');
                            location.reload();
                        }

                    }
                }
            )
        }
    }

    function delBtn(e){
        if(confirm('삭제하시겠습니까?'))
        {
            $.ajax
            (
                {
                    url : '/keyword/deleteKeyword',
                    method : 'POST',
                    type : 'JSON',
                    data : {'keyword_id' : e},
                    success : function (result)
                    {
                        if (result == 0)
                        {
                            alert('삭제 실패 관리자에게 문의 해주세요.')
                        }
                        else
                        {
                            alert('삭제되었습니다.');
                            location.reload();
                        }

                    }
                }
            )
        }
    }

</script>
</body>
</html>