<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="user = ${#authentication.principal}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BMI 관리자</title>
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <link rel="stylesheet" href="../assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="../asssets/images/favicon.ico"/>
    <style type="text/css">
        .current {
            border: 1px solid;
            background: #696ffb;
            color: #FFFFFF;
            margin-right: 3px;
            border-radius: 4px;
            width: 3%;
        }

        .paging {
            border: 1px solid #f2f4f9;
            background: #FFFFFF;
            margin-right: 3px;
            border-radius: 4px;
            width: 3%;
        }
    </style>
</head>
<body class="header-fixed">
<th:block th:include="/../hf/header.html"></th:block>
<div class="page-body">
    <th:block th:include="/../hf/sidebar.html"></th:block>
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div id="content-viewport">

                <div class="row">
                    <div class="col-12" style="margin-bottom: 15px; display: flex; justify-content: space-between;">
                        <h4>관리자 관리</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grid">
                            <p class="grid-header">관리자 검색</p>

                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <div class="table-responsive">
                                        <table class="table table-bordered"
                                               style="width: 100%; cellspacing: '0'; margin: auto;">
                                            <tbody>
                                            <tr>
                                                <td>관리자 아이디</td>
                                                <td><input type="text" class="form-control" id="admin_id"
                                                           style="width: 500px;"></td>
                                            </tr>
                                            <tr>
                                                <td>관리자 유형</td>
                                                <td>
                                                    <select class="form-control" id="admin_type"
                                                            style="width: 150px;">
                                                        <option value="99" selected>전체</option>
                                                        <option value="0">CS</option>
                                                        <option value="1">최고 관리자</option>
                                                        <option value="2">관리자</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="mx-auto" style="text-align: center; margin-top: 10px;">
                                            <button type="button" class="search_btn btn btn-primary"
                                                    onclick="SearchBtn(1);">검색
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="grid" id="grid-width">
                            <p class="grid-header">관리자 목록</p>
                            <div style="text-align: right;padding: 20px 25px 20px;">
                                <input type="hidden" id="adminType">
                                <button type="button" class="btn btn-primary"><a style="color: white;text-decoration-line: none;">정보 수정</a></button>

                                <button type="button" id="delete-target" class="btn btn-primary" onclick="delete_target();">관리자 삭제</button>
                            </div>
                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable"
                                               style="width: 100%; cellspacing: '0'; margin: auto;">
                                            <tbody>
                                            <tr>
                                                <td><input type="checkbox" id="txn-checkbox" class="check-all"></td>
                                                <td>번호</td>
                                                <td>ID</td>
                                                <td>관리자</td>
                                                <td>접속일</td>
                                                <td>상세정보</td>
                                            </tr>
                                            </tbody>
                                            <tbody id="item_list">
                                            </tbody>
                                        </table>
                                        <div id="page_list" style="text-align:center; margin: 2% 0 0 0;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <th:block th:include="/../hf/footer.html"></th:block>

    <script src="/assets/vendors/js/core.js"></script>
    <script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/vendors/chartjs/Chart.min.js"></script>
    <script src="/assets/js/charts/chartjs.addon.js"></script>
    <script src="/assets/js/template.js"></script>
    <script src="/assets/js/dashboard.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        $(document).ready(function () {
            SearchBtn(1);
        });

        function SearchBtn(e) {

            var data = {'admin_login_id': $("#admin_login_id").val(), 'admin_type': $("#admin_type").val(), 'page_num': e};

            $.ajax(
                {
                    url: 'selectNewAdmin',
                    method: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (result) {
                        console.log(result);
                        var item_list = $("#item_list");
                        var item_add = "";
                        var page_list = $("#page_list");
                        var page_add = "";

                        // list start
                        if (result.admin.length == 0) {
                            item_add += '<tr>';
                            item_add += '<td></td>';
                            item_add += '<td></td>';
                            item_add += '<td></td>';
                            item_add += '<td></td>';
                            if (result.auth.admin_type == 1) {
                                item_add += '<td></td>';
                            }
                            item_add += '</tr>';
                        } else {
                            for (var i = 0; i < result.admin.length; i++) {
                                item_add += '<tr>';

                                item_add += '<td>' + '<input type="checkbox" name="admin_id" id="admin-checkbox" class="list-checkBox" value="' + result.admin[i].admin_id + '">' + '</td>';

                                item_add += '<td>' + result.admin[i].admin_id + '</td>';

                                item_add += '<td>' + result.admin[i].admin_login_id + '</td>';

                                 if (result.admin[i].admin_type == 'common')
                                 {

                                    item_add += '<td>관리자</td>';

                                } else if (result.admin[i].admin_type == 'master') {

                                    item_add += '<td>최고관리자</td>';

                                }

                                item_add += '<td>' + result.admin[i].admin_create_date + '</td>';

                                if (result.auth.admin_type == 'master') {
                                    item_add += '<td><a style="color: blue" href="adminUpd?admin_no=' +result.admin[i].admin_no+'"  data="'+result.admin[i].admin_no+'" onclick="authAdmin('+result.admin[i].admin_no+')"><button class="btn btn-sm btn-primary">세부사항</button></a></td>';
                                }

                                item_add += '</tr>';
                            }
                        }
                        // list end

                        // paging start
                        if (result.page.page_num > 10) {
                            page_add += '<button class="paging" onclick="SearchBtn(' + (result.page.start_page - 10) + ')"><</button>';
                        }

                        for (var i = result.page.start_page; i < (result.page.end_page + 1); i++) {
                            if (result.page.page_num == i) {
                                page_add += '<button class="current" onclick="SearchBtn(' + i + ')">' + i + '</button>';
                            } else if (i <= result.page.max_page) {
                                page_add += '<button class="paging" onclick="SearchBtn(' + i + ')">' + i + '</button>';
                            }
                        }

                        if (result.page.start_page + 10 < (result.page.max_page)) {
                            page_add += '<button class="paging" onclick="SearchBtn(' + (result.page.start_page + 10) + ')">></button>';
                        }
                        // paging end

                        item_list.empty();
                        item_list.append(item_add);

                        page_list.empty();
                        page_list.append(page_add);
                    }
                })
        }

        $(".check-all").click(function () {
            $(".list-checkBox").prop('checked', this.checked);
        });

        //체크 항목 삭제
        function delete_target() {

            var checkArray = [];

            $('.list-checkBox:checked').each(function (i) {
                checkArray.push($('.list-checkBox:checked:eq(' + i + ')').val());
            });

            console.log(checkArray);
            if (checkArray.length > 0) {
                if (confirm('선택된 관리자 계정을 삭제하시겠습니까?') == true) {
                    let adminType = $("#adminType").val();
                    if (adminType != 1) {
                        alert('권한이 없습니다.')
                        return false;
                    }
                    $.ajax({
                        url: 'deleteAdmin',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            'checkedData': checkArray
                        },
                        success: function (data) {
                            switch (data) {
                                case 1:
                                    alert('삭제되었습니다.');
                                    location.reload();
                                    break;
                                case 0:
                                    alert('권한이 없습니다.');
                                    break
                            }
                        }
                    });
                } else {
                    return false;
                }
            }
        }

        function authAdmin(no) {
            console.log(no);
            $.ajax({
                url: `adminUpdAuth`,
                data:{'admin_no': no},
                method: 'POST',
                dataType: "json",
                success: function (result) {
                    console.log(result)
                    switch (result) {
                        case 1:
                            alert("권한이 없습니다.");
                            history.back();
                            break;
                        case 2:
                            break;
                        case 0:
                            alert('오류입니다.');
                    }
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n\n\n" + "message:" + request.responseText + "\n\n\n" + "error:" + error);
                }
            })
        }
    </script>
</body>
</html>
