<!DOCTYPE html>
<html lang="en" th:with="user =${#authentication.principal}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BMI 관리자</title>
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <link rel="stylesheet" href="../assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="../asssets/images/favicon.ico"/>
</head>
<body class="header-fixed" style="display: none">

<!-- partial:partials/_header.html -->
<th:block th:include="/../hf/header.html"></th:block>
<!-- partial -->

<div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <th:block th:include="/../hf/sidebar.html"></th:block>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">

            <div class="content-viewport row">
                <div class="col-8 mx-auto">
                    <div class="grid">
                        <p class="grid-header">관리자 수정</p>
                        <div class="grid-body">
                            <div class="item-wrapper">
                                <table class="table table-bordered" id="dataTable"
                                       style="width: 50%; cellspacing: '0'; margin: auto;">
                                    <tbody>
                                    <tr>
                                        <td>ID</td>
                                        <input type="hidden" id="admin_no" class="form-control"
                                               required="required" th:value="${param.admin_no}">

                                        <td th:text="${admin.admin_id}"></td>

                                    </tr>

                                    <tr>

                                        <td>현재 비밀 번호</td>
                                        <td><input type="password" id="currentPassword" class="form-control"
                                                   required="required"></td>

                                    </tr>

                                    <tr>

                                        <td>변경 비밀 번호</td>
                                        <td>
                                            <input type="password" id="changeSecretNumber" class="form-control"
                                                   required="required">
                                            <span id="changePw" style="display: none; color: red">숫자, 영어, 특수문자를 합성하여 8자리 이상 입력해주세요.</span>
                                            <span id="completPw" style="display: none; color: red">숫자, 영어, 특수문자를 합성하여 8자리 이상 입력해주세요.</span>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>확인 비밀 번호</td>
                                        <td><input type="password" id="confirmationPassword" name="admin_no"
                                                   class="form-control"
                                                   required="required"></td>

                                    </tr>
                                    </tbody>
                                </table>
                                <div style="text-align: center;padding-top: 10px">
                                    <button type="button" id="adminSub" class="btn btn-primary"
                                            onclick="update_password();">수정
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- partial:partials/_footer.html -->
        <th:block th:include="/../hf/footer.html"></th:block>
        <!-- partial -->
    </div>
</div>
<script src="/assets/vendors/js/core.js"></script>

<script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/assets/js/charts/chartjs.addon.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>
    $(document).ready(function () {
        authAdmin();
    })

    function authAdmin() {
        $.ajax({
            url: `adminUpdAuth`,
            data: {'admin_no': $("#admin_no").val()},
            method: 'POST',
            dataType: "json",
            success: function (result) {
                console.log(result)
                switch (result) {
                    case 1:
                        alert("권한이 없습니다.");
                        history.back();
                        break;
                    case 2:
                        $(".header-fixed").css("display", "block");
                        break;
                    case 0:
                        alert('오류입니다.');
                }
            },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        })
    }

    function update_password() {
        if (confirm('변경 하겠습니까?')) {

            let data = {
                'admin_no': $("#admin_no").val(),
                'admin_pw': $("#currentPassword").val(),
                'changeSecretNumber': $("#changeSecretNumber").val(),
                'confirmationPassword': $("#confirmationPassword").val()
            }
            console.log(data);
            $.ajax({
                url: 'adminUpwUpd',
                method: 'POST',
                dataType: "json",
                data: data,
                success: function (result) {
                    switch (result) {
                        case 2:
                            alert('비밀번호가 변경 되었습니다.');
                            location.reload();
                            break;
                        case 1:
                            alert('현재비밀번호가 다릅니다.');
                            break;
                        case 0:
                            alert('오류');
                            break;
                        case 3:
                            alert("변경비밀번호와 확인비밀번호를 확인 해주세요.");
                            break;
                    }
                }
            })
        }
    }

</script>

</body>


</html>
