<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="user=${#authentication.principal}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>나가자 관리자</title>
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <link rel="stylesheet" href="../assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="../asssets/images/favicon.ico"/>
</head>
<body class="header-fixed">
<!-- partial:partials/_header.html -->
<th:block th:include="/../hf/header.html"></th:block>
<!-- partial -->
<div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <th:block th:include="/../hf/sidebar.html"></th:block>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div id="content-viewport">
                <!-- Begin Page Content -->
                <div class="row">
                    <div class="col-12" style="margin-bottom: 15px; display: flex; justify-content: space-between;">
                        <!-- Page Heading -->
                        <h4>인테리어업체 수정</h4>
                        <p class="text-gray">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grid">
                            <p class="grid-header">
                                <span th:text="${'유저 : (' + agency.interior_name + ')님'}"></span>
                            </p>
                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <div class="table-responsive">
                                        <form id="feed_form" method="POST" enctype="multipart/form-data">
                                            <table class="table table-bordered" id="dataTable" style="width: 98%; cellspacing: '0'; margin: auto;">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        회사명
                                                    </td>
                                                    <td>
                                                        <input type="text" name="interior_name" class="form-control" required="required" th:value="${agency.interior_name}" style="width: 200px">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        대표자명
                                                    </td>
                                                    <td>
                                                        <input type="text" name="interior_owner_name" class="form-control" required="required" th:value="${agency.interior_owner_name}" style="width: 200px">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        현재 사업자등록증
                                                    </td>
                                                    <td>
                                                        <span th:if="${agency.interior_origin_license != null}" th:text="${agency.interior_origin_license}"></span>
                                                        <span th:unless="${agency.interior_origin_license !=null}">등록된 파일이 없습니다</span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        변경 사업자등록증
                                                    </td>

                                                    <td>
                                                        <input type="file" name="file">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        사업장 주소
                                                    </td>
                                                    <td>

                                                        <div style="padding-bottom: 10px;">
                                                            <input name="interior_post" type="hidden" th:value="${agency.interior_post}">
                                                            <input name="interior_address" id="sample5_address" type="text" placeholder="주소" class="form-control form-control-sm" readonly="readonly" required="required" style="width: 400px" th:value="${agency.interior_address}">
                                                            <input type="button" onclick="sample5_execDaumPostcode()" value="주소 찾기" class="btn-primary">
                                                            <input name="interior_latitude" type="hidden" th:value="${agency.interior_latitude}">
                                                            <input name="interior_longitude" type="hidden" th:value="${agency.interior_longitude}">
                                                        </div>
                                                        <div style="padding-bottom: 20px;">
                                                            <input name="interior_address_detail" id="sample5_detailAddress" type="text" placeholder="상세 주소" class="form-control form-control-sm" required="required" style="width: 480px" th:value="${agency.interior_address_detail}">
                                                        </div>

                                                        <div id="map" style="width:100%; height:350px; z-index: 0"></div>
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>
                                                        세금계산서 이메일
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" name="interior_email" th:value="${agency.interior_email}" style="width: 200px">
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                            <div class="mx-auto" style="text-align: center; margin-top: 10px;">
                                              <span>
                                                  <button type="button" class="search_btn btn btn-primary" onclick="updBtn()" >수정</button>
                                              </span>
                                            </div>
                                            <input type="hidden" id="interior_id" name="interior_id" th:value="${agency.interior_id}">
                                            <input type="hidden" id="user_id" name="user_id" th:value="${agency.user_id}">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<script src="/assets/vendors/js/core.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/assets/js/charts/chartjs.addon.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bab351f7ade976853653945aab9af547&libraries=services"></script>
<script>
</script>
</body>
<script>

    function updBtn() {
        let updData = new FormData($('#feed_form')[0]);

        if (confirm('수정하시겠습니까?'))
        {
            $.ajax
            (
                {
                    url: '/agency/agencyInformationUpd',
                    type: "POST",
                    data: updData,
                    dataType: 'JSON',
                    enctype: 'multipart/form-data',
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        console.log(result);
                        switch (result) {
                            case 1:
                                alert('수정되었습니다.');
                                location.href="/agency/detailAgency?user_id=" + $("#user_id").val();
                                break;

                            case 0:
                                alert('수정 실패 관리자에게 문의 해주십시오.');
                                break;

                            case 3:
                                alert('동일한 대리점 이름입니다.');
                                break;
                        }

                    }
                }
            )
        }
    }


    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        latitude = $('input[name=interior_latitude]').val();
    longitude = $('input[name=interior_longitude]').val();
    mapOption = {
        center: new daum.maps.LatLng(latitude, longitude), // 지도의 중심좌표
        level: 5 // 지도의 확대 레벨
    };

    //지도를 미리 생성
    var map = new daum.maps.Map(mapContainer, mapOption);
    //주소-좌표 변환 객체를 생성
    var geocoder = new daum.maps.services.Geocoder();
    //마커를 미리 생성
    var marker = new daum.maps.Marker({
        position: new daum.maps.LatLng(latitude, longitude),
        map: map
    });



    function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = data.address; // 최종 주소 변수

                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("sample5_address").value = addr;
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(data.address, function(results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {

                        var result = results[0]; //첫번째 결과의 값을 활용
                        console.log(result)

                        // 해당 주소에 대한 좌표를 받아서
                        var coords = new daum.maps.LatLng(result.y, result.x);
                        // 지도를 보여준다.
                        mapContainer.style.display = "block";
                        map.relayout();
                        // 지도 중심을 변경한다.
                        map.setCenter(coords);
                        // 마커를 결과값으로 받은 위치로 옮긴다.
                        marker.setPosition(coords)
                        //우편번호
                        $("input[name=interior_post]").val(result['road_address']['zone_no']);
                        //위도
                        $("input[name=interior_latitude]").val(result.y);
                        //경도
                        $("input[name=interior_longitude]").val(result.x);

                        console.log(result);
                    }
                });
            }
        }).open();
    }
</script>
</html>