<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="user=${#authentication.principal}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>나가자 관리자</title>
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <link rel="stylesheet" href="../assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="../asssets/images/favicon.ico"/>
    <style type="text/css">
        .current {
            border: 1px solid;
            background: #696ffb;
            color: #FFFFFF;
            margin-right: 3px;
            border-radius: 4px;
            width: 3%;
        }
        .paging {
            border: 1px solid #f2f4f9;
            background: #FFFFFF;
            margin-right: 3px;
            border-radius: 4px;
            width: 3%;
        }
    </style>
</head>
<body class="header-fixed">
<!-- partial:partials/_header.html -->
<th:block th:include="/../hf/header.html"></th:block>
<!-- partial -->
<div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <th:block th:include="/../hf/sidebar.html"></th:block>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div id="content-viewport">
                <!-- Begin Page Content -->
                <div class="row">
                    <div class="col-12" style="margin-bottom: 15px; display: flex; justify-content: space-between;">
                        <!-- Page Heading -->
                        <h4>카테고리 상세 정보</h4>
                        <p class="text-gray">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grid">
                            <p class="grid-header"></p>
                            <div class="card-body">
                                <div class="grid-body">
                                    <div class="item-wrapper">
                                        <div class="table-responsive">
                                            <form id="feed_form" method="PUT" enctype="multipart/form-data">
                                                <table class="table table-bordered" style="width: 50%; cellspacing: '0'; margin: auto; text-align: center">
                                                    <tbody>
                                                    <input type="hidden" id="boardCategoryId" name="boardCategoryId" th:value="${param.boardCategoryId}">
                                                    <input type="hidden" name="boardCategoryImageName" th:value="${category.boardCategoryImageName}">
                                                    <tr>
                                                        <td>
                                                            카테고리 명
                                                        </td>
                                                        <td>
                                                            <input name="boardCategoryTitle" class="form-control" type="text" th:value="${category.boardCategoryTitle}">
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            기존 이미지
                                                        </td>
                                                        <td>
                                                            <img th:src="|https://pref-bucket.s3.ap-northeast-2.amazonaws.com/images/${category.boardCategoryImageName}|" style="width:100px; height:100px; border : solid 1px #fff">
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            변경 이미지
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <input type="file" name="file" onchange="readURL(this);">
                                                                <img id="preview" style="width:100px; height:100px; border : solid 1px #fff" />
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>
                                                            상태
                                                        </th>
                                                        <td>
                                                            <input style="margin-left: 100px" type="radio" name="boardCategoryShow" id="boardCategoryShow1" class="roundup_type" value=1 th:checked="${category.boardCategoryShow == 1}">
                                                            <label for="boardCategoryShow1">사용</label>
                                                            <input style="margin-left: 100px" type="radio" name="boardCategoryShow" id="boardCategoryShow2" class="roundup_type" value=0 th:checked="${category.boardCategoryShow == 0}">
                                                            <label for="boardCategoryShow2">미사용</label>
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </form>
                                            <div class="mx-auto" style="text-align: center; margin-top: 10px;">
                                                <span>
                                                    <button type="button" class="search_btn btn btn-primary" th:onclick="updBtn()">수정</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-12">
                        <div class="grid">
                            <p class="grid-header" th:text="${category.boardCategoryTitle + ' 하위 카테고리'}"></p>
                            <div class="card-body">
                                <br>
                                <div class="grid-body">
                                    <div class="item-wrapper">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" style="width: 100%; cellspacing: '0'; margin: auto;">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        하위 카테고리 등록
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" id="keyword" style="padding-left : 10px; width: 500px;">
                                                        <button type="button" class="search_btn btn btn-primary">등록 </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="grid" id="grid-width">
                                <p class="grid-header" th:text="${category.boardCategoryTitle + '목록'}">
                                </p>
                                <div class="grid-body">
                                    <div class="item-wrapper">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" style="width: 100%; cellspacing: '0'; margin: auto; text-align: center">
                                                <tbody>
                                                <tr>
                                                    <td>번호</td>
                                                    <td>순서</td>
                                                    <td>카테고리명</td>
                                                    <td>사용 여부</td>
                                                    <td>삭제</td>
                                                </tr>
                                                </tbody>
                                                <tbody id="item_list">
                                                </tbody>
                                            </table>
                                            <div id="page_list" style="text-align:center; margin: 2% 0 0 0;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="/assets/vendors/js/core.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/assets/js/charts/chartjs.addon.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('preview').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            document.getElementById('preview').src = "";
        }
    }
    console.log($("#boardCategoryId").val())
    $(document).ready(function () {
        SearchBtn(1);
    });

    function SearchBtn(e) {
        var data = {
            'boardCategoryId' : $("#boardCategoryId").val(),
            'limit' : 10,
            'pageNum': e};
        $.ajax(
            {
                url: '/category/selectLowerRankCategory',
                method: 'GET',
                dataType : 'json',
                data : data,
                success: function (result) {
                    console.log(result);
                    var item_list = $("#item_list");
                    var item_add = "";
                    var page_list = $("#page_list");
                    var page_add = "";
                    // list start
                    if (result.boardCategoryList.length == 0) {
                        item_add += '<tr>';
                        item_add += '<td></td>';
                        item_add += '<td></td>';
                        item_add += '<td></td>';
                        item_add += '<td></td>';
                        item_add += '<td></td>';
                        item_add += '</tr>';
                    } else {
                        for (var i = 0; i < result.boardCategoryList.length; i++) {
                            item_add += '<tr>';
                            var num = i+1
                            if (e != 1)
                            {
                                num = num + ((e-1)*10);
                            }
                            item_add += '<td>' + num + '</td>';
                            item_add += '<td>' + num + '</td>';


                            item_add += '<td>' + result.boardCategoryList[i].boardCategoryTitle + '</td>';

                            if (result.boardCategoryList[i].boardCategoryShow == 0)
                            {
                                item_add += '<td>' + '<input type="radio" id="boardCategoryShow3" name="subcategories+'+i+'" class="roundup_type"><label for="boardCategoryShow3">사용</label><input style="margin-left: 100px" name="subcategories+'+i+'" type="radio" id="boardCategoryShow4" class="roundup_type" checked><label for="boardCategoryShow4">미사용</label>' + '</td>';
                            }
                            else
                            {
                                item_add += '<td>' + '<input type="radio" id="boardCategoryShow3" class="roundup_type" name="subcategories+'+i+'" checked><label for="boardCategoryShow3">사용</label><input style="margin-left: 100px" type="radio" id="boardCategoryShow4" name="subcategories+'+i+'" class="roundup_type"><label for="boardCategoryShow4">미사용</label>' + '</td>';
                            }

                            item_add += '<td><button class="search_btn btn btn-danger">' + '삭제' + '</button></td>';

                            item_add += '</tr>';
                        }
                    }

                    // paging start
                    if (result.pagination.pageNum > 10) {
                        page_add += '<button class="paging" onclick="SearchBtn(' + (result.pagination.startPage - 10) + ')"><</button>';
                    }

                    for (var i = result.pagination.startPage; i < (result.pagination.endPage + 1); i++) {
                        if (result.pagination.pageNum == i) {
                            page_add += '<button class="current" onclick="SearchBtn(' + i + ')">' + i + '</button>';
                        } else if (i <= result.pagination.maxPage) {
                            page_add += '<button class="paging" onclick="SearchBtn(' + i + ')">' + i + '</button>';
                        }
                    }

                    if (result.pagination.startPage + 10 < (result.pagination.maxPage)) {
                        page_add += '<button class="paging" onclick="SearchBtn(' + (result.pagination.startPage + 10) + ')">></button>';
                    }
                    // paging end

                    item_list.empty();
                    item_list.append(item_add);

                    page_list.empty();
                    page_list.append(page_add);
                },
                error(e) {
                    console.log(e);
                }
            })
    }

    function updBtn() {
        let updData = new FormData($('#feed_form')[0]);

        if (confirm('수정하시겠습니까?'))
        {
            $.ajax
            (
                {
                    url: '/category/updateCategory',
                    type: 'PUT',
                    data: updData,
                    dataType: 'JSON',
                    enctype: 'multipart/form-data',
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        console.log(result);
                        switch (result) {
                            case 1:
                                alert('수정되었습니다.');
                                location.href="/category/detailCategory?boardCategoryId=" + $("#boardCategoryId").val();
                                break;

                            case 0:
                                alert('수정 실패 관리자에게 문의 해주십시오.');
                                break;
                        }

                    }
                }
            )
        }
    }
</script>
</script>
</body>
</html>