<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="user=${#authentication.principal}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>나가자 관리자</title>
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <link rel="stylesheet" href="../assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="../asssets/images/favicon.ico"/>

    <style type="text/css">
        .modal-dialog {
            max-width: 1200px;
            margin: 1.75rem auto;
        }
        .current {
            border: 1px solid;
            background: #696ffb;
            color: #FFFFFF;
            margin-right: 3px;
            border-radius: 4px;
            width: 3%;
        }
        .paging {
            border: 1px solid #f2f4f9;
            background: #FFFFFF;
            margin-right: 3px;
            border-radius: 4px;
            width: 3%;
        }
    </style>
</head>
<body class="header-fixed">
<!-- partial:partials/_header.html -->
<th:block th:include="/../hf/header.html"></th:block>
<!-- partial -->
<div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <th:block th:include="/../hf/sidebar.html"></th:block>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div id="content-viewport">
                <!-- Begin Page Content -->
                <div class="row">
                    <div class="col-12" style="margin-bottom: 15px; display: flex; justify-content: space-between;">
                        <!-- Page Heading -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grid">
                            <p class="grid-header">
                                카테고리 등록
                                <span style="float: right;"><a href="/company/companyList">목록</a></span>
                            </p>
                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <div class="table-responsive">
                                        <form id="feed_form" method="POST" enctype="multipart/form-data">
                                            <table class="table table-bordered" id="dataTable" style="text-align:center;width: 100%; cellspacing: '0'; margin: auto;">
                                                <tbody>
                                                <tr>
                                                    <th>
                                                        카테고리 명
                                                    </th>
                                                    <td>
                                                        <span>
														    <input class="form-control" type="text" name="boardCategoryTitle" style="padding-left : 10px; width: 500px;">
                                                        </span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>
                                                        아이콘
                                                    </th>
                                                    <td>
                                                        <div>
                                                            <input type="file" name="file" onchange="readURL(this);" required>
                                                            <img id="preview" style="width:100px; height:100px; border : solid 1px #fff" />
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>
                                                        노출 영역
                                                    </th>
                                                    <td>
                                                        <span>
                                                            <select class="form-control" name="boardCategoryStatus" style="width: 150px;">
                                                                <option value="2" selected>상단</option>
                                                                <option value="1">하단</option>
                                                            </select>
                                                        </span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>
                                                        노출 영역
                                                    </th>
                                                    <td>
                                                        <span>
                                                            <select class="form-control" name="boardCategoryShow" style="width: 150px;">
                                                                <option value="1" selected>공개</option>
                                                                <option value="0">비공개</option>
                                                            </select>
                                                        </span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>하위 카테고리 등록</th>
                                                    <td id="addSunCategory">
                                                        <div>
                                                            <span>
                                                                <input type="text" style="width: 200px;" class="form-control" name="subCategoryTitle">
                                                            </span>
                                                            <span style="padding-left: 20px">
                                                                <input type="button" class="search_btn btn btn-primary" id="addInput" name="subCategoryTitle" value="추가">
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </form>
                                        <div class="mx-auto" style="text-align: center; margin-top: 10px;">
                                            <div>
                                                <span><button class="search_btn btn btn-primary" onclick="insBtn()">등록</button></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/vendors/js/core.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/assets/js/charts/chartjs.addon.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
</script>
<script>
    let orderData = 1;
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('preview').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            document.getElementById('preview').src = "";
        }
    }

    function insBtn() {
        let insData = new FormData($('#feed_form')[0]);

        if (confirm('수정 하시겠습니까?'))
        {
            $.ajax
            (
                {
                    url: '/category/insertCategory',
                    type: "POST",
                    data: insData,
                    dataType: 'JSON',
                    enctype: 'multipart/form-data',
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        console.log(result);
                        switch (result) {
                            case 0:
                                alert('등록 실패 관리자에게 문의 해주십시오.');
                                break;
                            case 1:
                                alert('등록 되었습니다.');
                                location.href="/category/categoryList";
                                break;
                        }

                    }
                }
            )
        }
    }

    $("#addInput").click(function (){
        $("#addSunCategory").append('<div id="orderData'+(orderData)+'" style="padding-top: 20px;"><span><input style="width:200px;" type="text" class="form-control" name="subCategoryTitle"></span><span style="padding-left: 20px"><input type="button" class="search_btn btn btn-danger" id="addInput" onclick="remove('+(orderData)+')" value="삭제"></span></div>');
        orderData++
    })

    function remove(e)
    {
        $("#orderData"+ e).remove();
    }

</script>
</body>
</html>