.wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
}
.clearfix::after {
    clear: both;
    content: '';
    display: block;
}

::-webkit-scrollbar-track {
  background-color: #fefefe;
}
::-webkit-scrollbar {
  width: 6px; height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #e1e1e1; border-radius: 3px;
}
body {
    background-color: #edf3f7;
}
#header {
    width: 100%;
    height: 50px;
    overflow-y: hidden;
}
#header .header-box {
    display: flex;
    align-items: center;
    padding: 0 22px;
    height: 50px;
    justify-content: space-between;
}
#header .header-box img {
    width: 100%;
}
#header .logo {
    text-align: center;
    position: relative;
    font-size: 20px;
    color: #5f8596;
    width: 146px;
    height: 27px;
    margin-right: 0;
}

#header .left {
    display: block;
    width: 9px;
    height: 18px;
    margin-left: 14px;
}
#header .menu {
    display: block;
    width: 20px;
    height: 18px;
}

#section {
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    position: relative;
}
#section .container {
	max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}
#section .container .inner-box {
    overflow: auto;
    height: 90%;
    padding: 20px;
    box-sizing: border-box;
}
#section .chat-in-box {
    width: 100%;
    height: 32px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

#section .chat-out-box {
    width: 100%;
    height: 32px;
    background-color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 40px;
}
#section .chat-out-box.on {
    display: flex;
}
#section .chat-out-box .in-ment {
    font-size: 14px;
    color: #adadad;
}
#section .chat-in-box .in-ment {
    font-size: 14px;
    color: #adadad;
}

#section .my-chat-box {
    width: auto;
    height: auto;
    position: relative;
    display: inline-flex;
    padding-left: 40px;
    float: right;
    margin-top: 15px;
}
#section .my-chat-box .send-picture {
    width: auto;
    border-radius: 10px;
    height: 167px;
}
#section .my-chat-box .send-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#section .my-chat-box .send-time {
    height: 15px;
    position: absolute;
    left: -80px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section .my-chat-box .send-time .time {
    font-size: 11px;
    color: #9d9d9d;
}
#section .my-chat-box .my-chat {
    height: auto;
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px 0 24px 24px;
    background-color: #FCA400;
    box-sizing: border-box;
    padding: 7px 21px 10px 13px;
}
#section .chat {
    font-size: 14px;
    color: #FFFFFF;
}
#section .chat-img {
	display: block; width: 400px; height: auto;
}

#section .friend-chat-box {
    width: auto;
    height: auto;
    position: relative;
    display: inline-flex;
    padding-right: 40px;
    float: left;
    margin-top: 15px;
}
#section .friend-chat-box .friend-img .img-wrap {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
#section .friend-chat-box .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#section .friend-chat-box .send-time {
    height: 15px;
    position: absolute;
    right: -80px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section .friend-chat-box .send-time .time {
    font-size: 11px;
    color: #9d9d9d;
}
#section .friend-chat-box .friend-info-box {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    gap: 12px;
}
#section .friend-chat-box .friend-info-box .friend-info {
    display: flex;
    gap: 6px;
}
#section .friend-chat-box .friend-info-box .friend-info .name {
    color: #000;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px;
}
#section .friend-chat-box .friend-info-box .friend-info .class {
    color: #5f8596;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px;
}
#section .friend-chat-box .friend-info-box .friend-chat {
    height: auto;
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 24px 24px 24px;
    background-color: #B9B9B9;
    box-sizing: border-box;
    padding: 7px 21px 10px 13px;
}

#section .text-send-box {
    /* margin-top: 128px; */
    width: 100%;
    display: flex;
    gap: 8px;
    position: sticky;
    bottom: 10px;
}
#section .text-send-box .text-send {
    width: calc(100% - 60px);
    height: 54px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 2px 3px 10px rgba(53, 60, 87, 0.2);
    resize: none;
    border: none;
    /* font-size: calc(100% *(44px; 폰트 크기 변경아직못함*/
    padding-left: 60px;
    padding-top: 20px;
    box-sizing: border-box;
}
#section .text-send-box .file-send-button {
    position: absolute;
    margin-left: 16px;
    margin-top: 9px;
}
#section .text-send-box .file-send-button input {display: none;}
#section .text-send-box .file-send-button label {
	display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 3px 10px rgba(53, 60, 87, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dfdfdf url('../../images/file-icon.svg') no-repeat center/20px;
}
#section .text-send-box .send-box {
    width: 54px;
    height: 54px;
    border-radius: 15px;
    background-color: #dfdfdf;
    box-shadow: 2px 3px 10px rgba(53, 60, 87, 0.1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#section .text-send-box .send-box .img-wrap {
    width: 21px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section .text-send-box .send-box .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 햄버거메뉴 클릭시 나오는 사이드메뉴 */
.side-menu-box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.5s;
    box-sizing: border-box;
    display: none;
}
.side-menu {
    width: 352px;
    height: 100vh;
    background-color: #f7fafc;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 8px 0 0 8px;
    position: fixed;
    right: -100%;
    top: 0;
    box-sizing: border-box;
    overflow: auto;
    padding: 46px 21px 0 21px;
    transition: all 0.5s;
}

.side-menu-box.on {
    display: block;
}

.side-menu.on {
    right: 0;
}

.side-menu .first-box {
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: space-between;
}
.side-menu .first-box .room-info {
    width: 161px;
    display: flex;
    gap: 1px;
}
.side-menu .first-box .room-info .name {
    font-size: 20px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 90px;
}
.side-menu .first-box .room-info .num {
    font-size: 12px;
    color: #596c74;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 90px;
    padding-top: 10px;
}
.side-menu .first-box .close {
    width: 24px;
    height: 24px;
    background: url(../../images/room-close.svg) no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.side-menu .secon-box {
    width: 100%;
    height: auto;
    margin-top: 49px;
}
.side-menu .box-name .name {
    font-size: 14px;
    color: #000;
}
.side-menu .secon-box .line {
    width: 100%;
    height: 1px;
    background-color: #e4eef2;
    display: block;
    margin: 16px 0;
}
.side-menu .secon-box .content-box {
    max-width: 304px;
    /* height: 70px; */
    display: flex;
    gap: 8px;
    overflow-x: auto;
    width: 100%;
}
.side-menu .secon-box .content-box div {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    flex-shrink: 0;
}
.side-menu .secon-box .content-box div img {
    width: 100%;
    height: 100%;
}

.side-menu .third-box {
    width: 100%;
    height: auto;
    margin-top: 17px;
}
.side-menu .box-name .name {
    font-size: 14px;
    color: #000;
}
.side-menu .third-box .line {
    width: 100%;
    height: 1px;
    background-color: #e4eef2;
    display: block;
    margin: 16px 0;
}
.side-menu .third-box .content-box {
    max-width: 304px;
    /* height: 70px; */
    display: flex;
    gap: 8px;
    overflow-x: auto;
    width: 100%;
}

.side-menu .third-box .content-box .content {
    padding: 8px;
    box-sizing: border-box;
    border: 1.5px solid #aec9d5;
    border-radius: 8px;
    width: 70px;
    height: 70px;
    background-color: #eff5f7;
    flex-shrink: 0;
}
.side-menu .third-box .content-box .content .file-note {
    width: 8px;
    height: 10px;
    margin-bottom: 4px;
    box-sizing: border-box;
}
.side-menu .third-box .content-box .content .file-note img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.side-menu .third-box .content-box .content .file-note-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.side-menu .third-box .content-box .content .file-note-info .note-name {
    font-size: 13px;
    color: #008ecf;
}
.side-menu .third-box .content-box .content .file-note-info .note-day {
    font-size: 13px;
    color: #a7a7a7;
}

.side-menu .forth-box {
    width: 100%;
    height: auto;
    margin-top: 17px;
    position: relative;
}
.side-menu .forth-box .people-invite-box {
    display: flex;
    align-items: center;
    margin: 24px 0;
}
.side-menu .forth-box .people-invite-box .invite-box {
    width: 48px;
    height: 48px;
    border: none;
    background: none;
    cursor: pointer;
}
.side-menu .forth-box .people-invite-box .invite-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side-menu .forth-box .people-invite-box .invite-txt .txt {
    font-size: 14px;
    color: #5f8596;
}
.side-menu .forth-box .people-inner-box {
    overflow: auto;
    max-height: calc(100vh * (594 / 866));
    box-sizing: border-box;
}
.side-menu .forth-box .people-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}
.side-menu .forth-box #people-box {
    margin-top: 0;
}
.side-menu .forth-box .people-box .people-info {
    display: flex;
    align-items: center;
    gap: 8px;
}
.side-menu .forth-box .people-box .people-info .people-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.side-menu .forth-box .people-box .people-info .people-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.side-menu .forth-box .people-box .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.side-menu .forth-box .people-box .info .name {
    font-size: 13px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 70px;
}
.side-menu .forth-box .people-box .info .class {
    font-size: 12px;
    color: #5f8596;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 90px;
}
.side-menu .forth-box .people-box .send-box {
    width: 40px;
    height: 32px;
    border-radius: 8px;
    box-shadow: 2px 3px 10px rgba(53, 60, 87, 0.13);
    border: none;
    background-color: #e7eff2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu .forth-box .people-box .send-box .img-wrap {
    width: 16px;
    height: 14px;
}

.side-menu .line {
    width: 100%;
    height: 1px;
    background-color: #e4eef2;
    margin: 18px 0;
    display: block;
}
.side-menu .out-box {
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 18px;
    float: right;
    padding-bottom: 18px;
}
.side-menu .out-box .out-txt {
    font-size: 15px;
    color: #5f8596;
}
.side-menu .out-box .out-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #e4eef2;
    box-shadow: 2px 3px 10px rgba(53, 60, 87, 0.13);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.side-menu .out-box .out-img .img-wrap {
    width: 20px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu .out-box .out-img .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* 햄버거메뉴 클릭시 나오는 사이드메뉴 끝*/

/* 채팅창 플러스버튼 클릭시 메뉴 시작 */
.chat-sub-menu-box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    box-sizing: border-box;
    display: none;
}
.chat-sub-menu {
    width: 100%;
    height: 206px;
    position: fixed;
    bottom: -100%;
    transition: all 0.5s;
}
.chat-sub-menu.on {
    bottom: 0;
}
.chat-sub-menu-box.on {
    display: block;
}
.chat-sub-menu .sub-menu-close {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 12px;
    cursor: pointer;
}
.chat-sub-menu .sub-menu-close img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.chat-sub-menu .sub-menu {
    width: 100%;
    height: 166px;
    border-radius: 15px 15px 0 0;
    background-color: #f8f8f8;
    box-shadow: 2px 3px 10px rgba(53, 87, 58, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.chat-sub-menu .sub-menu .sub-menu-menubox {
    width: 280px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
}
.chat-sub-menu .sub-menu .sub-menu-menubox .menubox-subbox {
    width: 64px;
    height: 64px;
    background-color: #f8f7f7;
    border-radius: 50%;
    box-shadow: 2px 3px 10px rgba(53, 87, 58, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.chat-sub-menu .sub-menu .sub-menu-menubox .menubox-subbox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.chat-sub-menu .sub-menu .sub-menu-menubox .menubox-subbox .img-wrap-1 {
    width: 24px;
    height: 24px;
}
.chat-sub-menu .sub-menu .sub-menu-menubox .menubox-subbox .img-wrap-2 {
    width: 20px;
    height: 17px;
}
.chat-sub-menu .sub-menu .sub-menu-menubox .menubox-subbox .img-wrap-3 {
    width: 24px;
    height: 24px;
}
/* 채팅창 플러스버튼 클릭시 메뉴 끝 */
