<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="user=${#authentication.principal}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>나가자 관리자</title>
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <link rel="stylesheet" href="../assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="../asssets/images/favicon.ico"/>

    <style type="text/css">
        .modal-dialog {
            max-width: 1200px;
            margin: 1.75rem auto;
        }
        .current {
            border: 1px solid;
            background: #696ffb;
            color: #FFFFFF;
            margin-right: 3px;
            border-radius: 4px;
            width: 3%;
        }
        .paging {
            border: 1px solid #f2f4f9;
            background: #FFFFFF;
            margin-right: 3px;
            border-radius: 4px;
            width: 3%;
        }
    </style>
</head>
<body class="header-fixed">
<!-- partial:partials/_header.html -->
<th:block th:include="/../hf/header.html"></th:block>
<!-- partial -->
<div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <th:block th:include="/../hf/sidebar.html"></th:block>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div id="content-viewport">
                <!-- Begin Page Content -->
                <div class="row">
                    <div class="col-12" style="margin-bottom: 15px; display: flex; justify-content: space-between;">
                        <!-- Page Heading -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grid">
                            <p class="grid-header">
                                <span th:text="${'회원 상세 정보'}"></span>
                                <span style="float: right;"><a href="/company/companyList">목록</a></span>
                            </p>
                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" style="text-align:center;width: 100%; cellspacing: '0'; margin: auto;">
                                            <tbody>
                                            <input type="hidden" id="memId" th:value="${param.memId}">
                                            <input type="hidden" id="state" th:value="${member.memStatusId}">
                                            <tr>
                                                <th>
                                                    회원상태
                                                </th>
                                                <td>
                                                    <span th:text="${member.memStatusContent}"></span>
                                                </td>
                                                <th>
                                                    회원번호
                                                </th>
                                                <td>
                                                    <span th:text="${member.memNumber}"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    ID
                                                </th>
                                                <td th:text="${member.memLoginId}">
                                                </td>
                                                <th>
                                                    이름/닉네임
                                                </th>
                                                <td>
                                                    <span th:text="${member.memName + '/' + member.memNickname}"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    이메일
                                                </th>
                                                <td>
                                                    <span th:if="${member.memMailAuth == 1}" th:text="${member.memEmail + '(인증완료 ' + member.memCreateDate + ')'}"></span>
                                                    <span th:unless="${member.memMailAuth == 1}" th:text="${member.memEmail}"></span>
                                                </td>
                                                <th>
                                                    전화번호
                                                </th>
                                                <td>
                                                    <span th:text="${member.memPhone}"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    주소 국가
                                                </th>
                                                <td th:text="${member.nationInfoName}">
                                                </td>
                                                <th>
                                                    주소
                                                </th>
                                                <td>
                                                    <span th:text="${member.memAddress}"></span>
                                                    <br>
                                                    <span th:text="${member.memAddressDetail}"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    추천인
                                                </th>
                                                <td th:text="${member.memReferral}">
                                                </td>
                                                <th>
                                                    가입일자
                                                </th>
                                                <td th:text="${member.memCreateDate}">
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    이벤트 및 혜택 알림 수신 동의
                                                </th>
                                                <td>
                                                    <span th:if="${member.memAgreeEvent == 1}">Y</span>
                                                    <span th:unless="${member.memAgreeEvent == 1}">N</span>
                                                </td>
                                                <th>
                                                    예약 및 서비스 알림 수신 동의
                                                </th>
                                                <td>
                                                    <span th:if="${member.memAgreeService == 1}">Y</span>
                                                    <span th:unless="${member.memAgreeService == 1}">N</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    회원정보 사용여부
                                                </th>
                                                <td>
                                                    <span th:if="${member.memStatusId == 1 || member.memStatusId == 4 || member.memStatusId == 7}">Y</span>
                                                    <span th:unless="${member.memStatusId == 1 || member.memStatusId == 4 || member.memStatusId == 7}">N</span>
                                                </td>
                                                <th>
                                                    이용내역
                                                </th>
                                                <td>
                                                    10건
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    중고 판매 글 등록 수
                                                </th>
                                                <td>
                                                    1건
                                                </td>
                                                <th>
                                                    예약 현황
                                                </th>
                                                <td>
                                                    1건
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    구직 글 등록
                                                </th>
                                                <td>
                                                    1건
                                                </td>
                                                <th>
                                                    신고/실종 글 등록 수
                                                </th>
                                                <td>
                                                    22건
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    단골 기업 수
                                                </th>
                                                <td>
                                                    <span data-toggle="modal" data-target="#regulars"  style="color: blue; cursor: pointer" th:text="${member.regulars + '건'}"></span>
                                                </td>
                                                <th>
                                                    기업 관리자 회원
                                                </th>
                                                <td>
                                                    <span th:if="${member.memStatusId == 8}">Y</span>
                                                    <span th:unless="${member.memStatusId == 8}">N</span>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                        <div class="mx-auto" style="text-align: center; margin-top: 10px;">
                                            <div>
                                                <span th:if="${member.memStatusId == 1 || member.memStatusId == 2 || member.memStatusId == 4 || member.memStatusId == 5 || member.memStatusId == 7 || member.memStatusId == 8}"><button class="search_btn btn btn-dark" onclick="blackBtn(1)">블랙</button></span>
                                                <span th:if="${member.memStatusId == 3 || member.memStatusId == 6}"><button class="search_btn btn btn-dark" onclick="blackBtn(2)">블랙해제</button></span>
                                                <span><button class="search_btn btn btn-danger" th:onclick="delBtn([[${member.memStatusId}]])">탈퇴</button></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--TODO 단골기업 모달창-->
<div class="modal fade" id="regulars" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="margin : 0 auto;">단골 기업 목록 팝업</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="grid-body">
                    <div class="item-wrapper">
                        <div class="table-responsive">
                            <div style="text-align: center">
                                <span>
                                    <select class="form-control" id="keywordFilter" style="width: 150px;">
                                            <option value="0">전체</option>
                                            <option value="1">기업 카테고리</option>
                                            <option value="2">기업명</option>
                                            <option value="3">주소국가</option>
                                            <option value="4">주소</option>
                                            <option value="5">전화번호</option>
                                </select>
                                </span>
                                <span>
                                    <input class="form-control" type="text" id="keyword" style="padding-left : 10px; width: 500px;">
                                </span>
                                <span>
                                    <button type="button" class="search_btn btn btn-primary" onclick="SearchBtn(1);">검색 </button>
                                </span>
                            </div>
                            <table class="table table-bordered"  style="width: 100%; cellspacing: '0'; margin: auto; text-align: center;">
                                <tbody>
                                <br>
                                <br>
                                <br>
                                <tr>
                                    <td>기업카테고리</td>
                                    <td>기업명</td>
                                    <td>주소 국가</td>
                                    <td>주소</td>
                                    <td>전화번호</td>
                                    <td>단골 수</td>
                                </tr>
                                </tbody>
                                <tbody id="item_list">
                                </tbody>
                            </table>
                            <div id="page_list" style="text-align:center; margin: 2% 0 0 0;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/vendors/js/core.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/assets/js/charts/chartjs.addon.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
</script>
<script>

    function blackBtn(status) {
        if ($("#state").val() == 2 || $("#state").val() == 5)
        {
            alert('이미 탈퇴된 회원입니다.');
            return false;
        }

        let data = {'memId': $("#memId").val()}
        let blackList = '';
        if (status == 1)
        {
            blackList = '블랙리스트로 등록 하시겠습니까?';
        }
        else
        {
            blackList = '블랙리스트를 해제 하시겠습니까?';
        }
        if (confirm(blackList))
        {
            $.ajax
            (
                {
                    url: '/member/memberBlackList',
                    type: 'PUT',
                    dataType : 'json',
                    data : data,
                    success: function (result) {
                        console.log(result);
                        switch (result) {
                            case 1:
                                if (status == 1)
                                {
                                    alert('블랙리스트로 변경 되었습니다.');
                                }
                                else
                                {
                                    alert('블랙리스트가 해제 되었습니다.');
                                }
                                location.reload();
                                break;

                            case 0:
                                alert('오류 관리자에게 문의 해주십시오.');
                                break;
                        }

                    }
                }
            )
        }
    }

    function delBtn(e) {

        let data = {'memId': $("#memId").val()}
        let message = '';
        if (e == 1 || e == 3 || e == 8)
        {
            message = '해당 회원을 탈퇴 시키시겠습니까?\n' + '회원 탈퇴 시 아이디, 비밀번호, 전화번호 정보가 초기화 됩니다.';
        }
        else if (e == 4 || e == 6 || e == 7)
        {
            message = '해당 회원을 탈퇴처리 하시겠습니까?';
        }
        if (confirm(message))
        {
            $.ajax
            (
                {
                    url: '/member/memberSecession',
                    type: 'DELETE',
                    dataType : 'json',
                    data : data,
                    success: function (result) {
                        console.log(result);
                        switch (result) {
                            case 1:
                                alert("탈퇴 되었습니다.")
                                location.href="/member/memberList";
                                break;

                            case 0:
                                alert('오류 관리자에게 문의 해주십시오.');
                                break;
                        }

                    }
                }
            )
        }
    }

    $(document).ready(function () {
        SearchBtn(1);
    });

    function SearchBtn(e) {
        var data = {
            'memId': $("#memId").val(),
            'keywordFilter': $("#keywordFilter").val(),
            'keyword': $("#keyword").val(),
            'limit' : 5,
            'pageNum': e};
        $.ajax(
            {
                url: '/company/selectRegulars',
                method: 'GET',
                dataType : 'json',
                data : data,
                success: function (result) {
                    console.log(result);
                    var item_list = $("#item_list");
                    var item_add = "";
                    var page_list = $("#page_list");
                    var page_add = "";
                    // list start
                    if (result.companyInfoList.length == 0) {
                        item_add += '<tr>';
                        item_add += '<td></td>';
                        item_add += '<td></td>';
                        item_add += '<td></td>';
                        item_add += '<td></td>';
                        item_add += '<td></td>';
                        item_add += '<td></td>';
                        item_add += '<td></td>';
                        item_add += '<td></td>';
                        item_add += '<td></td>';
                        item_add += '<td></td>';
                        item_add += '</tr>';
                    } else {
                        for (var i = 0; i < result.companyInfoList.length; i++) {
                            item_add += '<tr>';
                            item_add += '<td>' + result.companyInfoList[i].boardCategoryTitle + '</td>';
                            item_add += '<td>' + result.companyInfoList[i].companyNameEng + '</td>';
                            item_add += '<td>' + result.companyInfoList[i].nationInfoName + '</td>';
                            item_add += '<td>' + result.companyInfoList[i].companyAddress + '</td>';
                            item_add += '<td>' + result.companyInfoList[i].companyPhone + '</td>';
                            item_add += '<td>' + result.companyInfoList[i].regularPeople + '</td>';



                            item_add += '</tr>';
                        }
                    }

                    // paging start
                    if (result.pagination.pageNum > 10) {
                        page_add += '<button class="paging" onclick="SearchBtn(' + (result.pagination.startPage - 10) + ')"><</button>';
                    }

                    for (var i = result.pagination.startPage; i < (result.pagination.endPage + 1); i++) {
                        if (result.pagination.pageNum == i) {
                            page_add += '<button class="current" onclick="SearchBtn(' + i + ')">' + i + '</button>';
                        } else if (i <= result.pagination.maxPage) {
                            page_add += '<button class="paging" onclick="SearchBtn(' + i + ')">' + i + '</button>';
                        }
                    }

                    if (result.pagination.startPage + 10 < (result.pagination.maxPage)) {
                        page_add += '<button class="paging" onclick="SearchBtn(' + (result.pagination.startPage + 10) + ')">></button>';
                    }
                    // paging end

                    item_list.empty();
                    item_list.append(item_add);

                    page_list.empty();
                    page_list.append(page_add);
                },
                error(e) {
                    console.log(e);
                }
            })
    }
</script>
</body>
</html>