<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="user=${#authentication.principal}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>나가자 관리자</title>
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <link rel="stylesheet" href="../assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="../asssets/images/favicon.ico"/>
    <script src="https://cdn.ckeditor.com/4.8.0/full/ckeditor.js"></script>
</head>
<body class="header-fixed">
<!-- partial:partials/_header.html -->
<th:block th:include="/../hf/header.html"></th:block>
<!-- partial -->
<div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <th:block th:include="/../hf/sidebar.html"></th:block>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div id="content-viewport">
                <!-- Begin Page Content -->
                <div class="row">
                    <div class="col-12" style="margin-bottom: 15px; display: flex; justify-content: space-between;">
                        <!-- Page Heading -->
                        <h4>이벤트 수정</h4>
                        <p class="text-gray">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grid">
                            <p class="grid-header">
                                <span th:text="${'이벤트NO. : ' + param.event_id}"></span>
                                <input type="hidden" id="event_id" name="event_id" th:value="${param.event_id}">
                            </p>
                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <div class="table-responsive">
                                        <form id="feed_form" method="POST" enctype="multipart/form-data">
                                            <table class="table table-bordered" id="dataTable" style="width: 100%; cellspacing: '0'; margin: auto;">
                                                <tbody>

                                                <tr>
                                                    <td>
                                                        이벤트 제목
                                                    </td>
                                                    <td>
                                                        <input type="hidden" name="event_id" th:value="${param.event_id}">
                                                        <input class="form-control" type="text" name="event_title" th:value="${event.event_title}">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        이벤트 내용
                                                    </td>
                                                    <td>
                                                        <textarea class="form-control" id="ckeditor" name="event_contents"  th:utext="${event.event_contents}"></textarea>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        이미지
                                                    </td>
                                                    <td>
                                                        <img th:if="${event.event_images != null}" th:src="|https://pref-bucket.s3.ap-northeast-2.amazonaws.com/images/${event.event_images}|" style="width:100px; height:100px; border : solid 1px #fff">
                                                        <img th:unless="${event.event_images != null}" style="width:100px; height:100px; border : solid 1px #fff">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        변경 이미지
                                                    </td>
                                                    <td>
                                                        <input type="file" name="file">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        이벤트 기간
                                                    </td>
                                                    <td>
                                                        <input type="date" class="form-control" name="event_start_date" th:value="${event.event_start_date}" style="width: 250px;">
                                                        -
                                                        <input type="date" class="form-control" name="event_end_date" th:value="${event.event_end_date}" style="width: 250px;">
                                                    </td>
                                                </tr>


                                                </tbody>
                                            </table>
                                            <div class="mx-auto" style="text-align: center; margin-top: 10px;">
                                            <span>
                                                <button type="button" class="search_btn btn btn-primary" onclick="updBtn()" >완료</button>
                                            </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/vendors/js/core.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/assets/js/charts/chartjs.addon.js"></script>
<script src="/assets/js/template.js"></script>
<script src="../assets/js/dashevent.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function updBtn() {
        $('textarea[name=event_contents]').val(CKEDITOR.instances['ckeditor'].getData());
        let updData = new FormData($('#feed_form')[0]);

        if (confirm('수정하시겠습니까?'))
        {
            $.ajax
            (
                {
                    url: '/event/eventInformationUpd',
                    type: "POST",
                    data: updData,
                    dataType: 'JSON',
                    enctype: 'multipart/form-data',
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        console.log(result);
                        switch (result) {
                            case 1:
                                alert('수정되었습니다.');
                                location.href="/event/detailEvent?event_id=" + $("#event_id").val();
                                break;

                            case 0:
                                alert('수정 실패 관리자에게 문의 해주십시오.');
                                break;
                        }

                    }
                }
            )
        }
    }

    CKEDITOR.plugins.addExternal('youtube', '/youtube/plugin.js');
    CKEDITOR.plugins.addExternal('video', '/video/plugin.js');

    CKEDITOR.replace('ckeditor',
        {
            // extraPlugins : 'youtube',
            uploadUrl: "/editor/drag?path=dnmaison/event",						// 드래그 드롭을 위한 URL
            filebrowserUploadUrl: "/editor/basic?path=dnmaison/event"			// 파일업로드를 위한 URL
        });
</script>
</body>
</html>