<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="user=${#authentication.principal}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>나가자 관리자</title>
	<link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
	<link rel="stylesheet" href="../assets/css/shared/style.css">
	<link rel="stylesheet" href="../assets/css/demo_1/style.css">
	<link rel="shortcut icon" href="../asssets/images/favicon.ico"/>
	<script src="https://cdn.ckeditor.com/4.8.0/full/ckeditor.js"></script>
	<style type="text/css">
		.current {
			border: 1px solid;
			background: #696ffb;
			color: #FFFFFF;
			margin-right: 3px;
			border-radius: 4px;
			width: 3%;
		}
		.paging {
			border: 1px solid #f2f4f9;
			background: #FFFFFF;
			margin-right: 3px;
			border-radius: 4px;
			width: 3%;
		}
	</style>
</head>
<body class="header-fixed">
<th:block th:include="/../hf/header.html"></th:block>
<div class="page-body">
	<th:block th:include="/../hf/sidebar.html"></th:block>
	<div class="page-content-wrapper">
		<div class="page-content-wrapper-inner">
			<div id="content-viewport">
				<div class="row">
					<div class="col-12" style="margin-bottom: 15px; display: flex; justify-content: space-between;">
						<h4>상품 관리</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="grid">
							<p class="grid-header">상품 등록</p>
							<div class="card-body">
								<br>
								<div class="grid-body">
									<div class="item-wrapper">
										<div class="table-responsive">
											<form action="/product/insert" id="insertForm" method="POST" enctype="multipart/form-data">
												<table class="table table-bordered" style="width: 100%; cellspacing: '0'; margin: auto;">
													<tbody>
													<tr>
														<td>상품 구분</td>
														<td>
															<select class="form-control" name="product_type" style="width: 150px;">
																<option value="0">강마루</option>
																<option value="1">원목마루</option>
															</select>
														</td>
													</tr>
													<tr>
														<td>제품번호</td>
														<td><input type="number" class="form-control" name="product_no" value="0" style="width: 150px;"></td>
													</tr>
													<tr>
														<td>제품명</td>
														<td><input type="text" class="form-control" name="product_title"></td>
													</tr>
													<tr>
														<td>서브 제품명</td>
														<td><input type="text" class="form-control" name="product_sub_title"></td>
													</tr>
													<tr>
														<td>이미지</td>
														<td><input type="file" multiple="multiple" name="file"></td>
													</tr>
													<tr>
														<td>구성</td>
														<td><input type="text" class="form-control" name="product_configuration"></td>
													</tr>
													<tr>
														<td>규격</td>
														<td><input type="text" class="form-control" name="product_standard"></td>
													</tr>
													<tr>
														<td>종류</td>
														<td><input type="text" class="form-control" name="product_kind"></td>
													</tr>
													<tr>
														<td>특징</td>
														<td><textarea class="form-control" id="ckeditor" name="product_character"></textarea></td>
													</tr>
													<tr>
														<td>상태</td>
														<td>
															<select class="form-control" name="product_status" style="width: 150px;">
																<option value="0">비활성화</option>
																<option value="1">활성화</option>
															</select>
														</td>
													</tr>
													</tbody>
												</table>
												<div class="mx-auto" style="text-align: center; margin-top: 10px;">
													<a type="button" href="/product/list" class="search_btn btn btn-secondary">취소</a>
													<button type="button" class="search_btn btn btn-primary" onclick="InsertBtn()">등록</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<th:block th:include="/../hf/footer.html"></th:block>
<script src="/assets/vendors/js/core.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/assets/js/charts/chartjs.addon.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
	CKEDITOR.plugins.addExternal('youtube', '/youtube/plugin.js');
	CKEDITOR.plugins.addExternal('video', '/video/plugin.js');

	CKEDITOR.replace('ckeditor',
			{
				// extraPlugins : 'youtube',
				uploadUrl: "/editor/drag?path=dnmaison/product",						// 드래그 드롭을 위한 URL
				filebrowserUploadUrl: "/editor/basic?path=dnmaison/product"			// 파일업로드를 위한 URL
			});

	function InsertBtn()
	{
		$("#insertForm").submit();
	}
</script>
</body>
</html>