<script src="/../assets/js/jquery-3.6.0.min.js"></script>
<script src="/../assets/vendors/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript">
	//오늘
	$('#today').click(function(){
		document.getElementById('start_date').valueAsDate = new Date();
		document.getElementById('end_date').valueAsDate = new Date();
	});
	
	// 날짜 객체 받아서 문자열로 리턴하는 함수
	function getDateStr(myDate){
		var myMonth = myDate.getMonth() + 1;
		var month = myMonth >= 10 ? myMonth : '0' + myMonth;
		var fake_day = myDate.getDate(); 
		var day = fake_day >= 10 ? fake_day : '0' + fake_day;
		return (myDate.getFullYear() + '-' + month + '-' + day);
	}
	
	//어제
	function lastYesterday() {
		 var d = new Date();
		  var dayOfMonth = d.getDate();
		  d.setDate(dayOfMonth - 1);
		  return getDateStr(d);
	}
	
	$('#yesterday').click(function(){
		$("#start_date").val(lastYesterday());
		document.getElementById('end_date').valueAsDate = new Date();
	});
	
	//일주일
	function lastWeek() {
	  var d = new Date();
	  var dayOfMonth = d.getDate();
	  d.setDate(dayOfMonth - 7);
	  return getDateStr(d);
	}
	
	$('#week').click(function(){
		$("#start_date").val(lastWeek());
		document.getElementById('end_date').valueAsDate = new Date();
	});
	
	//1개월
	function lastMonth() {
	  var d = new Date();
	  var monthOfYear = d.getMonth();
	  d.setMonth(monthOfYear - 1);
	  return getDateStr(d);
	}
	
	$('#month').click(function(){
		$("#start_date").val(lastMonth());
		document.getElementById('end_date').valueAsDate = new Date();
	});
	
	//3개월
	function last3Month() {
	  var d = new Date();
	  var monthOfYear = d.getMonth();
	  d.setMonth(monthOfYear - 3);
	  return getDateStr(d);
	}
	
	$('#3month').click(function(){
		$("#start_date").val(last3Month());
		document.getElementById('end_date').valueAsDate = new Date();
	});
	
	//6개월
	function last6Month() {
	  var d = new Date();
	  var monthOfYear = d.getMonth();
	  d.setMonth(monthOfYear - 6);
	  return getDateStr(d);
	}
	
	$('#6month').click(function(){
		$("#start_date").val(last6Month());
		document.getElementById('end_date').valueAsDate = new Date();
	});



	//결제 완료 처리
	function finish_mog() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 결제 완료로 전환하겠습니까?') == true) {
			$.ajax({
	  			url : 'changeosf',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	
	// 배송 준비 처리
	function readytoship() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 배송 준비로 전환하겠습니까?') == true) {
			$.ajax({
	  			url : 'changeossr',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	
	// 결제 취소 처리
	function cancel_txn() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 결제 취소하시겠습니까?') == true) {
			$.ajax({
	  			url : 'changeostc',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 주문 취소 처리
	function cancel_order() {
		var checkArray = [];
		var txnArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
			txnArray.push($('.list-checkBox:checked:eq('+i+')').parent('td').find('input').eq(1).val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 항목들을 강제 주문 취소하시겠습니까?') == true) {
			$.ajax({
	  			url : 'changeosoc',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray,
	  				'txnArray' : txnArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 배송 완료 처리
	function finish_ship() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 배송 완료로 전환하겠습니까?') == true) {
			$.ajax({
	  			url : 'changeossf',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 발주 확인
	function order_confirm() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 주문 접수 처리하시겠습니까?') == true) {
			$.ajax({
	  			url : 'changeoc',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				
	  				if (data == 1) {
	  					
	  					location.reload();
		  				alert("발주 확인이 완료되었습니다.");
		  				
	  				} else {
	  					
	  					alert("해당 주문 정보에 품절된 상품이 포함되어있어 배송 준비로 전환할 수 없습니다.");
	  					
	  				}
	  				
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 발송 처리
	function SendOrder() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 배송 중으로 전환하시겠습니까?') == true) {
			$.ajax({
	  			url : 'changeso',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
  
  
  function delivery_update(mog_idx) {
		
		var mog_delivery_name = $('#delivery_name').val();
		var mog_delivery_num = $('button[value='+mog_idx+']').parent('span').find('input').val();
// 		var txn_id = $(this).val();
		
		console.log("송장번호 : " + mog_delivery_num);
		console.log("결제 번호 : " + mog_idx);
		
		$.ajax({
			url : 'changedeliverynum',
			type : 'POST',
			dataType : 'json',
			data : {
				'mog_delivery_name' : mog_delivery_name,
				'mog_delivery_num' : mog_delivery_num,
				'mog_idid' : mog_idx
			},
			success : function(data) {
				if (data == 1) {
					alert("송장번호 업데이트 성공");
	  				location.reload();	
				}
			}
		});
	}
  
  
  	function ChangeAllShipNumber() {
  		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		var num = $('#checked-shipnumber').val();
		
		console.log(checkArray);
		if (confirm('선택된 목록들의 송장번호를 일괄 변경하겠습니까?') == true) {
			$.ajax({
	  			url : 'changeallshipnum',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray,
	  				'num' : num
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
  	}
  	
 // 취소 완료
	function cancel_completed() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 취소 완료로 전환하겠습니까?') == true) {
			$.ajax({
	  			url : 'changecc',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
 
	// 취소 거부
	function cancel_reject() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 취소 거부하시겠습니까?') == true) {
			$.ajax({
	  			url : 'changecr',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 수거 접수 처리
	function refund_confirm() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 반품 수거 접수로 전환하겠습니까?') == true) {
			$.ajax({
	  			url : 'changeReturnConfirm',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 수거중처리
	function returning() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 반품 수거중으로 전환하겠습니까?') == true) {
			$.ajax({
	  			url : 'changeReturning',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 수거완료처리
	function collection() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 반품 수거 완료로 전환하겠습니까?') == true) {
			$.ajax({
	  			url : 'changeCollection',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 반품완료처리
	function refund_completed() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 반품 완료로 전환하겠습니까?') == true) {
			$.ajax({
	  			url : 'changeRefundCompleted',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 반품거부처리
	function refund_reject() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 반품 거부하시겠습니까?') == true) {
			$.ajax({
	  			url : 'changeRefundReject',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 교환으로변경
	function change_swap_txn() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 교환으로 전환하겠습니까?') == true) {
			$.ajax({
	  			url : 'changeSwap',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 교환 접수 처리
	function swap_confirm() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 교환 수거 접수로 전환하겠습니까?') == true) {
			$.ajax({
	  			url : 'changeSwapConfirm',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 교환수거중처리
	function changeKeepSwap() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 교환 수거중으로 전환하겠습니까?') == true) {
			$.ajax({
	  			url : 'changeKeepSwap',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 수거완료처리
	function changeSwapCollection() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 교환 수거 완료로 전환하겠습니까?') == true) {
			$.ajax({
	  			url : 'changeSwapCollection',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 반품완료처리
	function swap_completed() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 교환 완료로 전환하겠습니까?') == true) {
			$.ajax({
	  			url : 'changeSwapCompleted',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 반품거부처리
	function swap_reject() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 교환 거부하시겠습니까?') == true) {
			$.ajax({
	  			url : 'changeSwapReject',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 교환으로변경
	function change_return_txn() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 반품으로 전환하겠습니까?') == true) {
			$.ajax({
	  			url : 'changeTypeReturn',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 배송중으로 변경
	function final_returning() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 반품중으로 전환하겠습니까?') == true) {
			$.ajax({
	  			url : 'finalReturning',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	// 교환중으로 변경
	function final_swap() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 목록들을 반품으로 전환하겠습니까?') == true) {
			$.ajax({
	  			url : 'finalSwap',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
	
	 $(".check-all").click(function() {
			$(".list-checkBox").prop('checked', this.checked); 
	 });
	 
	 
	var userName = "[[${user}]]"
	
	//console.log(userName);
	
	if (userName == "anonymousUser") {
		location.replace("/login");
	}
	
	
	function updateMartOrderStatus(status) {
		
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		if (status == 41) {
			if (confirm('선택한 항목을 배송중으로 전환하시겠습니까?') == true) {
				$.ajax({
		  			url : 'changeMartOrderStatus',
		  			type : 'POST',
		  			dataType : 'json',
		  			data : {
		  				'checkedData' : checkArray,
		  				'status' : status,
		  				'returnUrl' : "tmsend?type=2"
		  				},
		  			success : function(data) {
		  				location.reload();
		  			}
		  		});
			} else {
				return false;
			}
		} else if (status == 30) {
			if (confirm('선택한 항목을 주문 접수 처리하시겠습니까?') == true) {
				$.ajax({
		  			url : 'changeMartOrderStatus',
		  			type : 'POST',
		  			dataType : 'json',
		  			data : {
		  				'checkedData' : checkArray,
		  				'status' : status,
		  				'returnUrl' : "tmsend?type=2"
		  				},
		  			success : function(data) {
		  				location.reload();
		  			}
		  		});
			} else {
				return false;
			}
		} else if (status == 42) {
			if (confirm('선택한 항목을 배송 완료로 전환하시겠습니까?') == true) {
				$.ajax({
		  			url : 'changeMartOrderStatus',
		  			type : 'POST',
		  			dataType : 'json',
		  			data : {
		  				'checkedData' : checkArray,
		  				'status' : status,
		  				'returnUrl' : "tmsend?type=2"
		  				},
		  			success : function(data) {
		  				location.reload();
		  			}
		  		});
			} else {
				return false;
			}
		} else if (status == 52) {
			if (confirm('선택한 항목을 반품 완료로 전환하시겠습니까?') == true) {
				$.ajax({
		  			url : 'changeMartOrderStatus',
		  			type : 'POST',
		  			dataType : 'json',
		  			data : {
		  				'checkedData' : checkArray,
		  				'status' : status,
		  				'returnUrl' : "tmsend?type=2"
		  				},
		  			success : function(data) {
		  				location.reload();
		  			}
		  		});
			} else {
				return false;
			}
		} else if (status == 56) {
			if (confirm('선택한 항목을 반품 거부하시겠습니까?') == true) {
				$.ajax({
		  			url : 'changeMartOrderStatus',
		  			type : 'POST',
		  			dataType : 'json',
		  			data : {
		  				'checkedData' : checkArray,
		  				'status' : 42,
		  				'returnUrl' : "tmsend?type=2"
		  				},
		  			success : function(data) {
		  				location.reload();
		  			}
		  		});
			} else {
				return false;
			}
		} else if (status == 62) {
			if (confirm('선택한 항목을 교환 완료로 전환하시겠습니까?') == true) {
				$.ajax({
		  			url : 'changeMartOrderStatus',
		  			type : 'POST',
		  			dataType : 'json',
		  			data : {
		  				'checkedData' : checkArray,
		  				'status' : 62,
		  				'returnUrl' : "tmsend?type=2"
		  				},
		  			success : function(data) {
		  				location.reload();
		  			}
		  		});
			} else {
				return false;
			}
		} else if (status == 66) {
			if (confirm('선택한 항목을 교환 거부하시겠습니까?') == true) {
				$.ajax({
		  			url : 'changeMartOrderStatus',
		  			type : 'POST',
		  			dataType : 'json',
		  			data : {
		  				'checkedData' : checkArray,
		  				'status' : 42,
		  				'returnUrl' : "tmsend?type=2"
		  				},
		  			success : function(data) {
		  				location.reload();
		  			}
		  		});
			} else {
				return false;
			}
		}
	}
	
	
	function cancelMartOrder() {
		
		var checkArray = [];
	$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq(' + i + ')').val());
		});

		console.log(checkArray);
		if (confirm('선택된 항목들을 강제 주문 취소하시겠습니까?') == true) {
			$.ajax({
				url : 'cancelMartOrder',
				type : 'POST',
				dataType : 'json',
				data : {
					'checkedData' : checkArray
				},
				success : function(data) {
					location.reload();
				}
			});
		} else {
			return false;
		}

	}

/* 	// table id명
	$('#dataTable').DataTable({
		dom : 'lBfrtip',
	 	buttons : [ 'excel' ]
	}) */
</script>