<div class="sidebar" th:with="user =${#authentication.principal}" xmlns:th="http://www.thymeleaf.org">
    <ul class="navigation-menu">
        <li>
            <a href="#admin-li" data-toggle="collapse" aria-expanded="false">
                <span class="link-title">대시보드</span>
                <i class="mdi mdi-apps link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="admin-li">
                <li><a href="/index">대시보드</a></li>
            </ul>
        </li>
        <li>
            <a href="#admin-li1" data-toggle="collapse" aria-expanded="false">
                <span class="link-title">어드민</span>
                <i class="mdi mdi-human-handsdown link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="admin-li1">
                <li><a href="/admin/adminList">어드민 관리</a></li>
            </ul>
        </li>

        <li>
            <a href="#admin-li2" data-toggle="collapse" aria-expanded="false">
                <span class="link-title">회원</span>
                <i class="mdi mdi-food-apple link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="admin-li2">
                <li><a href="/member/memberList">일반회원 관리</a></li>
                <li><a href="/company/companyList">기업회원 관리</a></li>
                <li><a href="/company/insCompanyList">기업회원 신청 관리</a></li>
            </ul>
        </li>

        <li>
            <a href="#admin-li3" data-toggle="collapse" aria-expanded="false">
                <span class="link-title">게시판 관리</span>
                <i class="mdi mdi-calendar-text link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="admin-li3">
                <li><a href="/category/categoryList">카테고리 관리</a></li>
            </ul>
        </li>
        <li>
            <a href="#admin-li4" data-toggle="collapse" aria-expanded="false">
                <span class="link-title">포인트 관리</span>
                <i class="mdi mdi-basket link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="admin-li4">
                <li><a href="/point/pointOptions">포인트 설정</a></li>
                <li><a href="/point/pointManual">포인트 수동 지급</a></li>
                <li><a href="/point/pointList">포인트 관리</a></li>
            </ul>
        </li>
        <li>
            <a href="#admin-li5" data-toggle="collapse" aria-expanded="false">
                <span class="link-title">서비스 관리</span>
                <i class="mdi mdi-barley link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="admin-li5">
                <li><a href="/board/marketBoardList">중고판매 게시판 관리</a></li>
                <li><a href="/event/eventList">예약 관리</a></li>
                <li><a href="/faq/faqList">구인/구직 게시판 관리</a></li>
                <li><a href="/qna/qnaList">신고 실종자 게시판 관리</a></li>
            </ul>
        </li>
        <li>
            <a href="#admin-li6" data-toggle="collapse" aria-expanded="false">
                <span class="link-title">이벤트/배너/광고 관리</span>
                <i class="mdi mdi-checkbox-multiple-blank link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="admin-li6">
                <li><a href="/auth/authList">나가자 인증 관리</a></li>
            </ul>
        </li>
        <li>
            <a href="#admin-li7" data-toggle="collapse" aria-expanded="false">
                <span class="link-title">게시판 관리</span>
                <i class="mdi mdi-account link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="admin-li7">
                <li><a href="/announcements/announcementsList">공지사항</a></li>
                <li><a href="/news/newsList">자유게시판</a></li>
                <li><a href="/news/newsList">자유게시판 금칙어 관리</a></li>
                <li><a href="/news/newsList">자사이벤트 게시판</a></li>
                <li><a href="/news/newsList">FAQ</a></li>
                <li><a href="/news/newsList">업체추천</a></li>
                <li><a href="/news/newsList">카테고리 관리</a></li>
                <li><a href="/news/newsList">신고관리</a></li>
            </ul>
        </li>
<!--        <li>-->
<!--            <a href="#admin-li11" data-toggle="collapse" aria-expanded="false">-->
<!--                <span class="link-title">댓글/답글</span>-->
<!--                <i class="mdi mdi-box-cutter link-icon"></i>-->
<!--            </a>-->
<!--            <ul class="collapse navigation-submenu" id="admin-li11">-->
<!--                <li><a href="/user/replyList">댓글/답글 관리</a></li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="#admin-li8" data-toggle="collapse" aria-expanded="false">-->
<!--                <span class="link-title">A/S 관리</span>-->
<!--                <i class="mdi mdi-assistant link-icon"></i>-->
<!--            </a>-->
<!--            <ul class="collapse navigation-submenu" id="admin-li8">-->
<!--                <li><a href="/repair/repairList">A/S 관리</a></li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="#admin-li9" data-toggle="collapse" aria-expanded="false">-->
<!--                <span class="link-title">키워드</span>-->
<!--                <i class="mdi mdi-truck link-icon"></i>-->
<!--            </a>-->
<!--            <ul class="collapse navigation-submenu" id="admin-li9">-->
<!--                <li><a href="/keyword/keywordList">키워드 관리</a></li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="#admin-li10" data-toggle="collapse" aria-expanded="false">-->
<!--                <span class="link-title">설정</span>-->
<!--                <i class="mdi mdi-cart link-icon"></i>-->
<!--            </a>-->
<!--            <ul class="collapse navigation-submenu" id="admin-li10">-->
<!--                <li><a href="/banner/mainList">메인 배너</a></li>-->
<!--                <li><a href="/reservation/list">푸시 알림</a></li>-->
<!--            </ul>-->
<!--        </li>-->
<!--    </ul>-->
</div>