<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="user=${#authentication.principal}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>나가자 관리자</title>
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <link rel="stylesheet" href="../assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="../asssets/images/favicon.ico"/>
    <script src="https://cdn.ckeditor.com/4.8.0/full/ckeditor.js"></script>
</head>
<body class="header-fixed">
<!-- partial:partials/_header.html -->
<th:block th:include="/../hf/header.html"></th:block>
<!-- partial -->
<div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <th:block th:include="/../hf/sidebar.html"></th:block>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div id="content-viewport">
                <!-- Begin Page Content -->
                <div class="row">
                    <div class="col-12" style="margin-bottom: 15px; display: flex; justify-content: space-between;">
                        <!-- Page Heading -->
                        <h4>공지사항 정보</h4>
                        <p class="text-gray">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grid">
                            <p class="grid-header">
                                <span th:text="${'공지사항NO. : ' + param.board_id}"></span>
                                <input type="hidden" name="board_id" th:value="${param.board_id}">
                            </p>
                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" style="width: 100%; cellspacing: '0'; margin: auto;">
                                            <tbody>

                                            <tr>
                                                <td>
                                                    공지사항 제목
                                                </td>
                                                <td>
                                                    <span th:text="${board.board_title}"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    공지사항 내용
                                                </td>
                                                <td>
                                                   <textarea class="form-control" id="ckeditor" name="board_contents" th:utext="${board.board_contents}" readonly></textarea>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    이미지
                                                </td>
                                                <td>
                                                    <img th:if="${board.board_image != null}" th:src="|https://pref-bucket.s3.ap-northeast-2.amazonaws.com/images/${board.board_image}|" style="width:100px; height:100px; border : solid 1px #fff">
                                                    <img th:unless="${board.board_image != null}" style="width:100px; height:100px; border : solid 1px #fff">
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    조회수
                                                </td>
                                                <td th:text="${board.board_count}">
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    등록날짜
                                                </td>
                                                <td th:text="${board.board_create_date}">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="mx-auto" style="text-align: center; margin-top: 10px;">
                                            <span>
                                                <a th:href="@{/board/detailUpdBoard(board_id=${param.board_id})}"><button type="button" class="search_btn btn btn-primary">수정</button></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/vendors/js/core.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/assets/js/charts/chartjs.addon.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    CKEDITOR.plugins.addExternal('youtube', '/youtube/plugin.js');
    CKEDITOR.plugins.addExternal('video', '/video/plugin.js');

    CKEDITOR.replace('ckeditor',
        {
            // extraPlugins : 'youtube',
            uploadUrl: "/editor/drag?path=dnmaison/event",						// 드래그 드롭을 위한 URL
            filebrowserUploadUrl: "/editor/basic?path=dnmaison/event",			// 파일업로드를 위한 URL
            on :
                {
                    instanceReady : function ( evt )
                    {
                        // Hide the editor top bar.
                        document.getElementById('cke_1_top').style.display = 'none';
                    }
                }

        });
</script>
</body>
</html>