<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="user=${#authentication.principal}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>나가자 관리자</title>
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <link rel="stylesheet" href="../assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="../asssets/images/favicon.ico"/>

    <style type="text/css">
        .modal-dialog {
            max-width: 1200px;
            margin: 1.75rem auto;
        }
        .current {
            border: 1px solid;
            background: #696ffb;
            color: #FFFFFF;
            margin-right: 3px;
            border-radius: 4px;
            width: 3%;
        }
        .paging {
            border: 1px solid #f2f4f9;
            background: #FFFFFF;
            margin-right: 3px;
            border-radius: 4px;
            width: 3%;
        }
    </style>
</head>
<body class="header-fixed">
<!-- partial:partials/_header.html -->
<th:block th:include="/../hf/header.html"></th:block>
<!-- partial -->
<div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <th:block th:include="/../hf/sidebar.html"></th:block>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div id="content-viewport">
                <!-- Begin Page Content -->
                <div class="row">
                    <div class="col-12" style="margin-bottom: 15px; display: flex; justify-content: space-between;">
                        <!-- Page Heading -->
                        <h4>중고마켓</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grid">
                            <p class="grid-header">
                                <span style="float: right;"><a href="/board/marketBoardList">목록</a></span>
                            </p>
                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" style="text-align:center;width: 100%; cellspacing: '0'; margin: auto;">
                                            <tbody>
                                            <input type="hidden" id="boardId" th:value="${param.boardId}">
                                            <tr>
                                                <th>
                                                    번호
                                                </th>
                                                <td>
                                                    <span th:text="${market.boardId}"></span>
                                                </td>
                                                <th>
                                                    거래 상태
                                                </th>
                                                <td>
                                                    <span th:if="${market.usedMarketStatus == 1}">거래중</span>
                                                    <span th:if="${market.usedMarketStatus == 2}">거래완료</span>
                                                    <span th:if="${market.usedMarketStatus == 3}">거래불가</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    카테고리
                                                </th>
                                                <td th:text="${market.boardCategoryTitle}">
                                                </td>
                                                <th>
                                                    제목
                                                </th>
                                                <td>
                                                    <span th:text="${market.boardTitle}"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    아이디
                                                </th>
                                                <td>
                                                    <a th:href="@{/member/detailMember(memId=${market.memId})}"><span th:text="${market.memLoginId}"></a></span>
                                                </td>
                                                <th>
                                                    노출 상태
                                                </th>
                                                <td>
                                                    <span th:if="${market.boardStatus == 1}">공개</span>
                                                    <span th:unless="${market.boardStatus == 1}">비공개</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    판매 지역
                                                </th>
                                                <td th:text="${market.memAddress}">
                                                </td>
                                                <th>
                                                    가격
                                                </th>
                                                <td>
                                                    <span th:if="${market.usedMarketPriceType == 1}" th:text="${market.usedMarketPrice + '₱'}"></span>
                                                    <span th:if="${market.usedMarketPriceType == 2}" th:text="${market.usedMarketPrice + '$'}"></span>
                                                    <span th:if="${market.usedMarketPriceType == 3}" th:text="${market.usedMarketPrice + '원'}"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    작성일
                                                </th>
                                                <td th:text="${market.boardCreateDate}">
                                                </td>
                                                <th>
                                                    조회수
                                                </th>
                                                <td th:text="${market.boardViewCount}">
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    내용
                                                </th>
                                                <td colspan="3">
                                                    <textarea style="width: 100%;height: 200px; padding: 10px;box-sizing: border-box; border: solid 2px #1E90FF;border-radius: 5px;font-size: 16px;resize: both;" th:utext="${market.boardContent}"></textarea>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                        <div class="mx-auto" style="text-align: center; margin-top: 10px;">
                                            <div>
                                                <a type="button" class="search_btn btn btn-dark" id="excelDownload" style="color: #FFFFFF; text-align: center; margin: 5px 10px 0 0;" onclick="updBtn(1)">공개</a>
                                                <a type="button" class="search_btn btn btn-danger" id="excelDownload2" style="color: #FFFFFF; text-align: center; margin: 5px 10px 0 0;" onclick="updBtn(0)">비공개</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/vendors/js/core.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/assets/js/charts/chartjs.addon.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
</script>
<script>

    function updBtn(e) {


        var data = {'boardId' : $("#boardId").val()}

        let message = '';
        if (e == 1)
        {
            message = '공개 하시겠습니까?';
        }
        else if (e == 0)
        {
            message = '비공개 하시겠습니까?';

        }
        if (confirm(message))
        {
            $.ajax
            (
                {
                    url: '/board/updateBoardMarket',
                    type: 'PUT',
                    dataType : 'json',
                    data : data,
                    success: function (result) {
                        console.log(result);
                        switch (result) {
                            case 1:
                                alert("변경 되었습니다.")
                                location.href="/board/detailMarket?boardId="+ $("#boardId").val();
                                break;

                            case 0:
                                alert('오류 관리자에게 문의 해주십시오.');
                                break;
                        }

                    }
                }
            )
        }
    }

</script>
</body>
</html>