<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="user=${#authentication.principal}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>나가자 관리자</title>
<link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
<link rel="stylesheet" href="../assets/css/shared/style.css">
<link rel="stylesheet" href="../assets/css/demo_1/style.css">
<link rel="shortcut icon" href="../asssets/images/favicon.ico"/>
</head>
<body class="header-fixed">
<!-- partial:partials/_header.html -->
<th:block th:include="/../hf/header.html"></th:block>
<!-- partial -->
<div class="page-body">
	<!-- partial:partials/_sidebar.html -->
	<th:block th:include="/../hf/sidebar.html"></th:block>
	<!-- partial -->
	<div class="page-content-wrapper">
		<div class="page-content-wrapper-inner">
			<div id="content-viewport">
				<!-- Begin Page Content -->
				<div class="row">
					<div class="col-12" style="margin-bottom: 15px; display: flex; justify-content: space-between;">
						<!-- Page Heading -->
						<h4>회원 상세 정보</h4>
						<p class="text-gray">
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="grid">
							<p class="grid-header">
								<span th:text="${'유저 : (' + detailUser.user_nickname} + ')님'"></span>
							</p>
							<div class="grid-body">
								<div class="item-wrapper">
									<div class="table-responsive">
										<form id="feed_form" method="POST" enctype="multipart/form-data">
											<table class="table table-bordered" id="dataTable" style="width: 98%; cellspacing: '0'; margin: auto;">
											<tbody>

											<tr>
												<td>
													닉네임
												</td>
												<td>
													<input type="text" name="user_nickname" class="form-control" required="required" th:value="${detailUser.user_nickname}" style="width: 200px">
												</td>
											</tr>

											<tr>
												<td>
													연락처
												</td>
												<td>
													<input type="text" name="user_phone" class="form-control" required="required" th:value="${detailUser.user_phone}" style="width: 200px">
												</td>
											</tr>

											<tr>
												<td>
													현재 프로필
												</td>
												<td>
													<img th:if="${detailUser.user_profile != null}" th:src="|https://pref-bucket.s3.ap-northeast-2.amazonaws.com/images/${detailUser.user_profile}|" style="width:100px; height:100px; border : solid 1px #fff">
													<img th:unless="${detailUser.user_profile != null}" style="width:100px; height:100px; border : solid 1px #fff">
												</td>
											</tr>

											<tr>
												<td>
													변경 프로필
												</td>

												<td>
													<img id="imgArea" style="width:100px; height:100px; border : solid 1px #fff" onerror="imgAreaError()"/>
													<input type="file" name="file" accept="image/*">
												</td>
											</tr>

											<tr>
												<td>
													회원가입 계기
												</td>
												<td>
													<input type="radio" name="user_join_path" id="user_join_path1" class="roundup_type" value=1 th:checked="${detailUser.user_join_path==1}" required="required">
													<label for="user_join_path1">지인추천</label>
													<input type="radio" name="user_join_path" id="user_join_path2" class="roundup_type" value=2 th:checked="${detailUser.user_join_path==2}" required="required">
													<label for="user_join_path2">인터넷검색</label>
													<input type="radio" name="user_join_path" id="user_join_path3" class="roundup_type" value=3 th:checked="${detailUser.user_join_path==3}" required="required">
													<label for="user_join_path3">방송시청</label>
													<input type="radio" name="user_join_path" id="user_join_path4" class="roundup_type" value=4 th:checked="${detailUser.user_join_path==4}" required="required">
													<label for="user_join_path4">기타</label>
												</td>
											</tr>

											<tr>
												<td>
													회원 상태
												</td>
												<td>
													<input type="radio" name="user_status" id="roundup-status1" class="roundup_type" value=1 th:checked="${detailUser.user_status==1}" required="required">
													<label for="roundup-status1">정상</label>
													<input type="radio" name="user_status" id="roundup-status2" class="roundup_type" value=2 th:checked="${detailUser.user_status==2}" required="required">
													<label for="roundup-status2">제제</label>
													<input type="radio" name="user_status" id="roundup-status3" class="roundup_type" value=3 th:checked="${detailUser.user_status==3}" required="required">
													<label for="roundup-status3">탈퇴</label>
													<input type="radio" name="user_status" id="roundup-status4" class="roundup_type" value=4 th:checked="${detailUser.user_status==4}" required="required">
													<label for="roundup-status4">강제탈퇴</label>
												</td>
											</tr>

											<tr>
												<td>
													알림수신
												</td>
												<td>
													<input type="radio" name="user_notice_agree" id="user_notice_agree1" class="roundup_type" value=1 th:checked="${detailUser.user_notice_agree==1}" required="required">
													<label for="roundup-email1">동의</label>
													<input type="radio" name="user_notice_agree" id="user_notice_agree2" class="roundup_type" value=0 th:checked="${detailUser.user_notice_agree==0}" required="required">
													<label for="roundup-email2">비동의</label>
												</td>
											</tr>

											<tr>
												<td>
													메일수신
												</td>
												<td>
													<input type="radio" name="user_email_agree" id="roundup-email1" class="roundup_type" value=1 th:checked="${detailUser.user_email_agree==1}" required="required">
													<label for="roundup-email1">동의</label>
													<input type="radio" name="user_email_agree" id="roundup-email2" class="roundup_type" value=0 th:checked="${detailUser.user_email_agree==0}" required="required">
													<label for="roundup-email2">비동의</label>
												</td>
											</tr>

											<tr>
												<td>
													sms 수신
												</td>
												<td>
													<input type="radio" name="user_sms_agree" id="roundup-sms1" class="roundup_type" value=1 th:checked="${detailUser.user_notice_agree==1}" required="required">
													<label for="roundup-sms1">동의</label>
													<input type="radio" name="user_sms_agree" id="roundup-sms2" class="roundup_type" value=0 th:checked="${detailUser.user_notice_agree==0}" required="required">
													<label for="roundup-sms2">비동의</label>
												</td>
											</tr>

											<tr>
												<td>
													푸쉬알림 수신
												</td>
												<td>
													<input type="radio" name="user_push_agree" id="roundup-push1" class="roundup_type" value=1 th:checked="${detailUser.user_push_agree==1}" required="required">
													<label for="roundup-push1">동의</label>
													<input type="radio" name="user_push_agree" id="roundup-push2" class="roundup_type" value=0 th:checked="${detailUser.user_push_agree==0}" required="required">
													<label for="roundup-push2">비동의</label>
												</td>
											</tr>

											</tbody>
											</table>
											<div class="mx-auto" style="text-align: center; margin-top: 10px;">
												<span>
													<button type="button" class="search_btn btn btn-primary" th:onclick="updBtn()" >수정</button>
												</span>
											</div>
											<input type="hidden" id="user_id" name="user_id" th:value="${detailUser.user_id}">
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<script src="/assets/vendors/js/core.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/assets/js/charts/chartjs.addon.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bab351f7ade976853653945aab9af547&libraries=services"></script>
<script>
</script>
</body>
<script>
	function readURL(input)
	{
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				$('#imgArea').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}

	$(":input[name='file']").change(function()
	{
		if( $(":input[name='file']").val() == '' ) {
			$('#imgArea').attr('src' , '');
		}
		$('#imgViewArea').css({ 'display' : '' });
		readURL(this);
	});

	// 이미지 에러 시 미리보기영역 미노출
	function imgAreaError()
	{
		$('#imgViewArea').css({ 'display' : 'none' });
	}

	function updBtn() {
		let updData = new FormData($('#feed_form')[0]);

		if (confirm('수정하시겠습니까?')) {
			$.ajax
			(
					{
						url: '/user/userInformationUpd',
						type: "POST",
						data: updData,
						dataType: 'JSON',
						enctype: 'multipart/form-data',
						cache: false,
						processData: false,
						contentType: false,
						success: function (result) {
							console.log(result);
							switch (result) {
								case 1:
									alert('수정되었습니다.');
									location.href="/user/detailUsers?user_id=" + $("#user_id").val();
									break;
								case 2:
									alert('수정되었습니다.');
									location.href="/interior/detailInterior?user_id=" + $("#user_id").val();
									break;
								case 3:
									alert('수정되었습니다.');
									location.href="/agency/detailAgency?user_id=" + $("#user_id").val();
									break;
								case 4:
									alert('중복 닉네임 입니다.');
									break;
								case 5:
									alert('올바른 휴대폰 번호 입력(-제외)');
									break;
								case 0:
									alert('수정 실패 관리자에게 문의 해주십시오.');
									break;
							}

						}
					}
			)
		}
	}
</script>
</html>