<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="user=${#authentication.principal}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>나가자 관리자</title>
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <link rel="stylesheet" href="../assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="../asssets/images/favicon.ico"/>
</head>
<body class="header-fixed">
<!-- partial:partials/_header.html -->
<th:block th:include="/../hf/header.html"></th:block>
<!-- partial -->
<div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <th:block th:include="/../hf/sidebar.html"></th:block>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div id="content-viewport">
                <!-- Begin Page Content -->
                <div class="row">
                    <div class="col-12" style="margin-bottom: 15px; display: flex; justify-content: space-between;">
                        <!-- Page Heading -->
                        <h4>기업 회원 상세</h4>
                        <p class="text-gray">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grid">
                            <p class="grid-header">
                                <span th:text="${'기업 : (' + company.companyName} + ')님'"></span>
                            </p>
                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" style="width: 100%; cellspacing: '0'; margin: auto;">
                                            <tbody>
                                            <input type="hidden" id="companyId" th:value="${company.companyId}">

                                            <tr>
                                                <th>
                                                    공공기관 등록 여부
                                                </th>
                                                <td colspan="3">
                                                    <input style="margin-left: 100px" type="radio" name="companyPublic" id="companyPublic1" class="roundup_type" value=1 th:checked="${company.companyPublic == 1}" required="required">
                                                    <label for="companyPublic1">Y</label>
                                                    <input style="margin-left: 100px" type="radio" name="companyPublic" id="companyPublic2" class="roundup_type" value=0 th:checked="${company.companyPublic == 0}" required="required">
                                                    <label for="companyPublic2">N</label>
                                                    <button style="margin-left: 100px" type="button" class="search_btn btn btn-primary" onclick="updBtn()">수정</button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    카테고리
                                                </th>
                                                <td th:text="${company.boardCategoryTitle}">
                                                </td>
                                                <th>
                                                    업체명
                                                </th>
                                                <td th:text="${company.companyName}">
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    주소 국가
                                                </th>
                                                <td th:text="${company.nationInfoName}">
                                                </td>
                                                <th>
                                                    주소
                                                </th>
                                                <td th:text="${company.companyAddress}">
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    위도 / 경도
                                                </th>
                                                <td colspan="3" th:text="${company.companyLat + ', ' + company.companyLon}">
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    전화번호
                                                </th>
                                                <td th:text="${company.companyPhone}">
                                                </td>
                                                <th>
                                                    기업 회원 등록일자
                                                </th>
                                                <td th:text="${company.companyApprovalDate}">
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    인증마크
                                                </th>
                                                <td>
                                                    <span th:if="${company.companyAuth == 1}">Y</span>
                                                    <span th:unless="${company.companyAuth == 1}">N</span>
                                                </td>
                                                <th>
                                                    단골 수
                                                </th>
                                                <td th:text="${company.regularPeople}">
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    사업자 등록증
                                                </th>
                                                <td colspan="3">
                                                    <span th:text="${company.companyLicenseOrigin}"></span>
                                                    <span><a th:href="@{/file/download(companyLicense=${company.companyLicense})}">다운로드</a></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    대표 이미지
                                                </th>
                                                <td colspan="3">
                                                    <th:block th:each="files,index : ${company.images}">
                                                                <span>
                                                                    <img th:src="|https://pref-bucket.s3.ap-northeast-2.amazonaws.com/images/${files.companyImageName}|" style="width:100px; height:100px; border : solid 1px #fff">
                                                                    <th:block th:if="${(index.index+1) % 5 == 0}">
                                                                        <br>
                                                                    </th:block>
                                                                </span>
                                                    </th:block>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    기업설명
                                                </th>
                                                <td colspan="3">
                                                    <span th:text="${company.companyText}"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    영업시간
                                                </th>
                                                <td>
                                                    <span th:text="${company.companyLiveTime}"></span>
                                                </td>
                                                <th>
                                                    브레이크 타임
                                                </th>
                                                <td>
                                                    <span th:text="${company.companyBreakTime}"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    배달 가능 여부
                                                </th>
                                                <td>
                                                    <span th:if="${company.companyDelivery == 1}">Y</span>
                                                    <span th:unless="${company.companyDelivery == 1}">N</span>
                                                </td>
                                                <th>
                                                    예약 가능 여부
                                                </th>
                                                <td>
                                                    <span th:text="${company.companyReservationTime}"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    픽업/드랍 여부
                                                </th>
                                                <td>
                                                    <span th:if="${company.companyPickup == 1}">Y</span>
                                                    <span th:unless="${company.companyPickup == 1}">N</span>
                                                </td>
                                                <th>
                                                    결제 수단
                                                </th>
                                                <td>
                                                    <span th:text="${company.companyPayType}"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    주차가능 여부
                                                </th>
                                                <td>
                                                    <span th:if="${company.companyParking == 1}">Y</span>
                                                    <span th:unless="${company.companyParking == 1}">N</span>
                                                </td>
                                                <th>
                                                    반려동물 동반 가능 여부
                                                </th>
                                                <td>
                                                    <span th:if="${company.companyPet == 1}">Y</span>
                                                    <span th:unless="${company.companyPet == 1}">N</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    구인 글 등록
                                                </th>
                                                <td>
                                                    <span>1건</span>
                                                </td>
                                                <th>
                                                    기업 관리자 회원
                                                </th>
                                                <td>
                                                    <span th:text="${company.adminPeople + ' 명'}"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    신고 수
                                                </th>
                                                <td colspan="3">
                                                    <span>1건</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/vendors/js/core.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/assets/js/charts/chartjs.addon.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function updBtn() {
        if (confirm('변경 하겠습니까?')) {

            let data = {
                'companyId': $("#companyId").val(),
                'companyPublic': $('input:radio[name=companyPublic]:checked').val()
            }
            console.log(data);
            $.ajax({
                url: '/company/changeCompanyAuth',
                method: 'PUT',
                dataType: "json",
                data: data,
                success: function (result) {
                    switch (result) {

                        case 0:
                            alert("변경 실패 관리자에게 문의해주십시오.");
                            break;
                        case 1:
                            alert('변경 되었습니다.');
                            location.reload();
                            break;
                    }
                }
            })
        }
    }
</script>
</script>
</body>
</html>