<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="user=${#authentication.principal}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>나가자 관리자</title>
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <link rel="stylesheet" href="../assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="../asssets/images/favicon.ico"/>
    <style type="text/css">
        .current {
            border: 1px solid;
            background: #696ffb;
            color: #FFFFFF;
            margin-right: 3px;
            border-radius: 4px;
            width: 3%;
        }
        .paging {
            border: 1px solid #f2f4f9;
            background: #FFFFFF;
            margin-right: 3px;
            border-radius: 4px;
            width: 3%;
        }
    </style>
</head>
<body class="header-fixed">
<!-- partial:partials/_header.html -->
<th:block th:include="/../hf/header.html"></th:block>
<!-- partial -->
<div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <th:block th:include="/../hf/sidebar.html"></th:block>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div id="content-viewport">
                <!-- Begin Page Content -->
                <div class="row">
                    <div class="col-12" style="margin-bottom: 15px; display: flex; justify-content: space-between;">
                        <!-- Page Heading -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grid">
                            <p class="grid-header">
                                <span th:text="${'기업 회원 신청 상세'}"></span>
                                <span style="float: right;"><a href="/company/companyList">목록</a></span>
                            </p>
                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" style="width: 100%; cellspacing: '0'; margin: auto;">
                                            <tbody>
                                            <input type="hidden" id="companyId" th:value="${company.companyId}">

                                            <tr>
                                                <th>
                                                    신청일자
                                                </th>
                                                <td th:text="${company.companyApplicationDate}">
                                                </td>
                                                <th>
                                                    신청인 아이디
                                                </th>
                                                <td>
                                                    <a th:href="@{/member/detailMember(memId=${company.memId})}"><span th:text="${company.memLoginId}"></span></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    신청상태
                                                </th>
                                                <td colspan="3">
                                                    <span th:if="${company.companyStatus == 1}">신청완료</span>
                                                    <span th:if="${company.companyStatus == 2}">등록완료</span>
                                                    <span th:if="${company.companyStatus == 3}">반려</span>

                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    담당자 이름
                                                </th>
                                                <td th:text="${company.companyMasterName}">
                                                </td>
                                                <th>
                                                    담당자 전화번호
                                                </th>
                                                <td th:text="${company.companyMasterPhone}">
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    담당자 메일주소
                                                </th>
                                                <td th:text="${company.companyMasterEmail}">
                                                </td>
                                                <th>
                                                    담당자 SNS (페이스북)
                                                </th>
                                                <td th:text="${company.companyMasterFacebook}">
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    담당자 SNS (카카오톡)
                                                </th>
                                                <td th:text="${company.companyMasterKakao}">
                                                </td>
                                                <th>
                                                    담당자 SNS (라인)
                                                </th>
                                                <td th:text="${company.companyMasterLine}">
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    인증마크
                                                </th>
                                                <td>
                                                    <span th:if="${company.companyAuth == 1}">Y</span>
                                                    <span th:unless="${company.companyAuth == 1}">N</span>
                                                </td>
                                                <th>
                                                    단골 수
                                                </th>
                                                <td th:text="${company.regularPeople}">
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    사업자 등록증
                                                </th>
                                                <td colspan="3">
                                                    <span th:text="${company.companyLicenseOrigin}"></span>
                                                    <span><a th:href="@{/file/download(companyLicense=${company.companyLicense})}">다운로드</a></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    대표 이미지
                                                </th>
                                                <td colspan="3">
                                                    <th:block th:each="files,index : ${company.companyImages}">
                                                                <span>
                                                                    <img th:src="|https://pref-bucket.s3.ap-northeast-2.amazonaws.com/images/${files.companyImageName}|" style="width:100px; height:100px; border : solid 1px #fff">
                                                                    <th:block th:if="${(index.index+1) % 5 == 0}">
                                                                        <br>
                                                                    </th:block>
                                                                </span>
                                                    </th:block>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    기업설명
                                                </th>
                                                <td colspan="3">
                                                    <span th:text="${company.companyText}"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    배달 가능 여부
                                                </th>
                                                <td>
                                                    <span th:if="${company.companyDelivery == 1}">Y</span>
                                                    <span th:unless="${company.companyDelivery == 1}">N</span>
                                                </td>
                                                <th>
                                                    예약 가능 여부
                                                </th>
                                                <td>
                                                    <span th:text="${company.companyReservationTime}"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    픽업/드랍 여부
                                                </th>
                                                <td>
                                                    <span th:if="${company.companyPickup == 1}">Y</span>
                                                    <span th:unless="${company.companyPickup == 1}">N</span>
                                                </td>
                                                <th>
                                                    결제 수단
                                                </th>
                                                <td>
                                                    <span th:text="${company.companyPayType}"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    주차가능 여부
                                                </th>
                                                <td>
                                                    <span th:if="${company.companyParking == 1}">Y</span>
                                                    <span th:unless="${company.companyParking == 1}">N</span>
                                                </td>
                                                <th>
                                                    반려동물 동반 가능 여부
                                                </th>
                                                <td>
                                                    <span th:if="${company.companyPet == 1}">Y</span>
                                                    <span th:unless="${company.companyPet == 1}">N</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    메뉴판 이미지
                                                </th>
                                                <td colspan="3">
                                                    <th:block th:each="files,index : ${company.companyProductImages}">
                                                    <span>
                                                        <img th:src="|https://pref-bucket.s3.ap-northeast-2.amazonaws.com/images/${files.companyProductImageName}|" style="width:100px; height:100px; border : solid 1px #fff">
                                                        <th:block th:if="${(index.index+1) % 5 == 0}">
                                                            <br>
                                                        </th:block>
                                                    </span>
                                                    </th:block>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    메뉴 설명
                                                </th>
                                                <td colspan="3">
                                                    <th:block th:each="company : ${company.products}">
                                                    <span>
                                                        <div th:text="${company.companyProductTitle + '- ₱' + company.companyProductPeso}"></div>
                                                        <div th:text="${company.companyProductTitle + '- ' + company.companyProductUsd + '$'}"></div>
                                                        <div th:text="${company.companyProductTitle + '- ' + company.companyProductKrw  + '원'}"></div>
                                                        <br>
                                                    </span>
                                                    </th:block>

                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    공공기관 등록 여부
                                                </th>
                                                <td colspan="3">
                                                    <input style="margin-left: 100px" type="radio" name="companyPublic" id="companyPublic1" class="roundup_type" value=1 th:checked="${company.companyPublic == 1}" required="required">
                                                    <label for="companyPublic1">Y</label>
                                                    <input style="margin-left: 100px" type="radio" name="companyPublic" id="companyPublic2" class="roundup_type" value=0 th:checked="${company.companyPublic == 0}" required="required">
                                                    <label for="companyPublic2">N</label>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div style="text-align: center; padding-top: 50px">
                                            <button style="" type="button" class="search_btn btn btn-primary" th:onclick="updBtn([[${company.companyStatus}]])">기업 회원으로 전환하기</button>
                                            <button style="margin-left: 10px" type="button" data-toggle="modal" data-target="#returnCompany" class="search_btn btn btn-danger" >반려하기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="returnCompany" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2" style="margin:0 auto;">기업 회원 신청 반려</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="text-align: center;">
                    해당 회원의 기업 회원 신청을 반려하시겠습니까?
                    <br>
                    반려사유를 입력해주세요
                </div>
            </div>
            <div class="modal-body" >

                <table style="margin: 0 auto; margin-left: 100px;">
                    <tr>
                        <th>
                            신청 일자
                        </th>
                        <td style="padding-left: 15px">
                            <span id="companyReturnDate" th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            신청한 기업 명
                        </th>
                        <td th:text="${company.companyNameEng}" style="padding-left: 15px"></td>
                    </tr>
                    <tr>
                        <th>
                            반려 사유
                        </th>
                        <td>
                            <textarea name="companyReturnContents" style="width: 500px;height: 150px; padding: 10px;box-sizing: border-box; border: solid 2px #1E90FF;border-radius: 5px;font-size: 10px;resize: both;"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" th:onclick="returnBtn([[${company.companyStatus}]])">완료</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script src="/assets/vendors/js/core.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/assets/js/charts/chartjs.addon.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function updBtn(e) {
        if (e == 2)
        {
            alert('이미등록된 기업 입니다.')
            return false;
        }
        if (confirm('기업 회원으로 전환 하겠습니까?')) {

            let data = {
                'companyId': $("#companyId").val(),
                'companyPublic': $('input:radio[name=companyPublic]:checked').val(),
                'status' : 2
            }
            $.ajax({
                url: '/company/changeCompanyAuth',
                method: 'PUT',
                dataType: "json",
                data: data,
                success: function (result) {
                    switch (result) {

                        case 0:
                            alert("변경 실패 관리자에게 문의해주십시오.");
                            break;
                        case 1:
                            alert('변경 되었습니다.');
                            location.href = "/company/companyList";
                            break;
                    }
                }
            })
        }
    }

    function returnBtn(e) {

        if (e == 3)
        {
            alert('이미반려된 기업 입니다.')
            return false;
        }
        if (confirm('반려 하겠습니까?')) {

            let data = {
                'companyId': $("#companyId").val(),
                'companyReturnDate' : $('#companyReturnDate').text(),
                'companyReturnContents' : $('textarea[name=companyReturnContents]').val()
            }
            $.ajax({
                url: '/company/returnCompany',
                method: 'PUT',
                dataType: "json",
                data: data,
                success: function (result) {
                    switch (result) {

                        case 0:
                            alert("반려 실패 관리자에게 문의해주십시오.");
                            break;
                        case 1:
                            alert('반려 되었습니다.');
                            location.href = "/company/companyList";
                            break;
                        case 2:
                            alert('올바른 사유를 입력 하십시오.');
                            break;
                    }
                }
            })
        }
    }


</script>
</script>
</body>
</html>