<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="user=${#authentication.principal}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>나가자 관리자</title>
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <link rel="stylesheet" href="../assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="../asssets/images/favicon.ico"/>
</head>
<body class="header-fixed">
<!-- partial:partials/_header.html -->
<th:block th:include="/../hf/header.html"></th:block>
<!-- partial -->
<div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <th:block th:include="/../hf/sidebar.html"></th:block>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div id="content-viewport">
                <!-- Begin Page Content -->
                <div class="row">
                    <div class="col-12" style="margin-bottom: 15px; display: flex; justify-content: space-between;">
                        <!-- Page Heading -->
                        <h4>푸시 알림 등록</h4>
                        <p class="text-gray">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="grid">
                            <p class="grid-header">푸시 알림</p>
                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <div class="table-responsive">
                                        <form id="insert_form" action="/reservation/insert" method="POST" enctype="multipart/form-data">
                                            <table class="table table-bordered" id="dataTable" style="width: 98%; cellspacing: '0'; margin: auto;">
                                                <tbody>
                                                <tr>
                                                    <td>연결 대상</td>
                                                    <td>
                                                    	<select class="form-control" name="reservation_target" style="width: 150px;">
                                                    		<option value="0">전체</option>
                                                    		<option value="1">업체</option>
                                                    		<option value="2">고객</option>
                                                    	</select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>알림 내용</td>
                                                    <td>
                                                        <input class="form-control" type="text" name="reservation_contents">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>연결 페이지</td>
                                                    <td>
                                                    	<input type="radio" id="main" name="reservation_type" value="0" checked>
                                                    	<label for="main">메인페이지</label>
                                                    	<br>
                                                    	<input type="radio" id="board" name="reservation_type" value="1">
                                                    	<label for="board">공지사항</label>
                                                    	<br>
                                                    	<input type="radio" id="event" name="reservation_type" value="2">
                                                    	<label for="event">이벤트</label>
                                                    	<br>
                                                    	<input type="radio" id="url" name="reservation_type" value="3">
                                                    	<label for="url">URL</label>
                                                    	<input type="text" class="form-control" name="reservation_url" style="width: 500px;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>예약 발송(선택)</td>
                                                    <td>
                                                    	<input type="radio" id="reservation_off" name="reservation_send" value="0" checked>
                                                    	<label for="reservation_off">OFF</label>
                                                    	<input type="radio" id="reservation_on" name="reservation_send" value="1">
                                                    	<label for="reservation_on">ON</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>예약 발송일자</td>
                                                    <td>
                                                    	<input type="date" class="form-control" name="send_date" style="width: auto;">
                                                    	<select class="form-control" name="send_hour" style="width: auto;">
                                                    		<option value="0" selected="selected">0 시</option>
                                                    		<th:block th:each="num : ${#numbers.sequence(1, 23)}">
                                                    			<option th:text="|${num} 시|" th:value="${num}"></option>
                                                    		</th:block> 
                                                    	</select>
                                                    	<select class="form-control" name="send_minute" style="width: auto;">
                                                    		<option value="0" selected="selected">00 분</option>
                                                    		<option value="30">30 분</option>
                                                    	</select>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="mx-auto" style="text-align: center; margin-top: 10px;">
                                              <span>
                                                  <button type="button" class="search_btn btn btn-primary" onclick="insertBtn()">발송</button>
                                              </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/vendors/js/core.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/assets/js/charts/chartjs.addon.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function insertBtn()
    {
    	var send_type = $("input:radio[name='reservation_send']:checked").val();
    	
    	if(send_type == 0)
    	{
	    	if(confirm("바로 발송하시겠습니까?") == true)
	    	{
	    		$("#insert_form").su나가자t();
	    	}
    	}
    	else
    	{
	    	if(confirm("예약 발송하시겠습니까?") == true)
	    	{
	    		$("#insert_form").su나가자t();
	    	}
    	}
    }
</script>
</body>
</html>