<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="user=${#authentication.principal}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>나가자 관리자</title>
	<link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
	<link rel="stylesheet" href="../assets/css/shared/style.css">
	<link rel="stylesheet" href="../assets/css/demo_1/style.css">
	<link rel="shortcut icon" href="../asssets/images/favicon.ico"/>
	<style type="text/css">
		.current {
			border: 1px solid;
			background: #696ffb;
			color: #FFFFFF;
			margin-right: 3px;
			border-radius: 4px;
			width: 3%;
		}
		.paging {
			border: 1px solid #f2f4f9;
			background: #FFFFFF;
			margin-right: 3px;
			border-radius: 4px;
			width: 3%;
		}
	</style>
</head>
<body class="header-fixed">
<th:block th:include="/../hf/header.html"></th:block>
<div class="page-body">
	<th:block th:include="/../hf/sidebar.html"></th:block>
	<div class="page-content-wrapper">
		<div class="page-content-wrapper-inner">
			<div id="content-viewport">
				<div class="row">
					<div class="col-12" style="margin-bottom: 15px; display: flex; justify-content: space-between;">
						<h4>샘플북 신청 관리</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="grid">
							<p class="grid-header">샘플북 신청 검색</p>
							<div class="card-body">
								<br>
								<div class="grid-body">
									<div class="item-wrapper">
										<div class="table-responsive">
											<table class="table table-bordered" style="width: 100%; cellspacing: '0'; margin: auto;">
												<tbody>
													<tr>
														<td>검색 기간</td>
														<td>
															<input type="date" class="form-control" id="start_date" style="width: 150px;">
															~
															<input type="date" class="form-control" id="end_date" style="width: 150px;">
														</td>
													</tr>
													<tr>
														<td>신청 상태</td>
														<td>
															<select class="form-control" id="sample_status" style="width: 150px;">
																<option value="9">전체</option>
																<option value="0">발송 대기</option>
																<option value="1">발송 완료</option>
															</select>
														</td>
													</tr>
													<tr>
														<td>검색어</td>
														<td>
															<select class="form-control" id="keyword_type" style="width: 150px;">
																<option value="all">전체</option>
																<option value="name">회사명</option>
																<option value="nickname">닉네임</option>
																<option value="phone">휴대폰번호</option>
																<option value="address">신청 주소</option>
																<option value="title">상품명</option>
															</select>
															<input type="text" class="form-control" id="keyword" style="width: 500px;">
														</td>
													</tr>
												</tbody>
											</table>
											<div class="mx-auto" style="text-align: center; margin-top: 10px;">
												<button type="button" class="search_btn btn btn-primary" onclick="SearchBtn(1);">검색 </button>
												<input type="hidden" id="user_id" name="user_id" th:value="${param.user_id}">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="grid" id="grid-width">
								<p class="grid-header">샘플북 신청 목록</p>
								<div class="grid-body">
									<div class="item-wrapper">
										<div class="table-responsive">
											<table class="table table-bordered" id="dataTable" style="width: 100%; cellspacing: '0'; margin: auto;">
												<tbody>
													<tr>
														<td>번호</td>
														<td>회사명</td>
														<td>담당자 닉네임</td>
														<td>담당자 휴대폰번호</td>
														<td>신청 주소</td>
														<td>신청 상품명</td>
														<td>신청일</td>
														<td>발송일</td>
														<td>상태</td>
													</tr>
												</tbody>
												<tbody id="item_list">
												</tbody>
											</table>
											<div id="page_list" style="text-align:center; margin: 2% 0 0 0;">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<th:block th:include="/../hf/footer.html"></th:block>
<script src="/assets/vendors/js/core.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/assets/js/charts/chartjs.addon.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
	$(document).ready(function()
	{
		SearchBtn(1);
	});
	
	function SearchBtn(e)
	{
		var user_id = $("#user_id").val();
		var start_date = $("#start_date").val();
		var end_date = $("#end_date").val();
		var sample_status = $("#sample_status").val();
		var keyword_type = $("#keyword_type").val();
		var keyword = $("#keyword").val();

		if(end_date >= start_date)
		{

			var data = {'user_id' : user_id, 'start_date' : start_date, 'end_date' : end_date, 'sample_status' : sample_status, 'keyword_type' : keyword_type, 'keyword' : keyword, 'page_num' : e};
			
			$.ajax(
			{
				url : '/sample/list',
				method : 'POST',
				dataType : 'json',
				data : data,
				success : function(result)
				{
					console.log(result)
					var item_list = $("#item_list");
					var item_add = "";
					
					var page_list = $("#page_list");
					var page_add = "";
					
					// list start
					if(result.sample.length == 0)
					{
						item_add += '<tr>';
						item_add += '<td></td>';
						item_add += '<td></td>';
						item_add += '<td></td>';
						item_add += '<td></td>';
						item_add += '<td></td>';
						item_add += '<td></td>';
						item_add += '<td></td>';
						item_add += '<td></td>';
						item_add += '<td></td>';
						item_add += '</tr>';
					}
					else
					{
						for(var i = 0; i < result.sample.length; i++)
						{
							item_add += '<tr>';
							item_add += '<td><a href="/sample/' + result.sample[i].sample_id + '">' + (((result.page.page_num - 1) * result.page.limit) + i + 1) + '</a></td>';
							item_add += '<td>' + result.sample[i].interior_name + '</td>';
							item_add += '<td>' + result.sample[i].user_nickname + '</td>';
							item_add += '<td>' + result.sample[i].user_phone + '</td>';
							item_add += '<td>' + result.sample[i].sample_address + '</td>';
							item_add += '<td>' + result.sample[i].product_title + '</td>';
							item_add += '<td>' + result.sample[i].sample_create_date + '</td>';
							item_add += '<td>' + result.sample[i].sample_send_date + '</td>';

							if(result.sample[i].sample_status == 0)
							{
								item_add += '<td><button type="button" class="btn btn-success" onclick="SendBtn(' + result.sample[i].sample_id + ', 1)">발송 대기</button></td>';
							}
							else
							{
								item_add += '<td><button type="button" class="btn btn-primary" onclick="SendBtn(' + result.sample[i].sample_id + ', 0)">발송 완료</butt료n></td>';
							}

							item_add += '</tr>';
						}
					}
					// list end

					// paging start
					if(result.page.page_num > 10)
					{
						page_add += '<button class="paging" onclick="SearchBtn(' + (result.page.start_page - 10) + ')"><</button>';
					}
					
					for(var i = result.page.start_page; i < (result.page.end_page + 1); i++)
					{
						if(result.page.page_num == i)
						{
							page_add += '<button class="current" onclick="SearchBtn(' + i + ')">' + i + '</button>';
						}
						else if(i <= result.page.max_page)
						{
							page_add += '<button class="paging" onclick="SearchBtn(' + i + ')">' + i + '</button>';
						}
					}
					
					if(result.page.start_page + 10 < (result.page.max_page))
					{
						page_add += '<button class="paging" onclick="SearchBtn(' + (result.page.start_page + 10) + ')">></button>';
					}
					// paging end
					
					item_list.empty();
					item_list.append(item_add);
					
					page_list.empty();
					page_list.append(page_add);
				},
				error(e)
				{
					console.log(e)
				}
			});
		}
		else
		{
			alert("검색 기간을 확인해주세요");
		}
	}
	
	function SendBtn(id, status)
	{
		if(confirm("발송 상태를 변경하시겠습니까?") == true)
		{
			$.ajax(
			{
				url : '/sample/send',
				method : 'POST',
				dataType : 'json',
				data : {'sample_id' : id, 'sample_status' : status},
				success : function(result)
				{
					if(result == 0)
					{
						alert("상태 변경에 실패하였습니다.");
					}
					else
					{
						alert("상태 변경에 성공하였습니다.");
						
						location.reload();
					}
				}
			});
		}
		else
		{
			return false;
		}
	}
</script>
</body>
</html>